@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Rubik,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,80rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: #010039
}
body::-webkit-scrollbar {
  width: 6px;
  height: 12px
}
body::-webkit-scrollbar-track {
  background-color: #b7b7b7
}
body::-webkit-scrollbar-thumb {
  background-color: #01001e;
  border-radius: 3px
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #00074b
}
body * {
  scrollbar-width: thin;
  scrollbar-color: #01001e #b7b7b7
}
.menu__body,
.wrapper {
  position: relative
}
.menu__body::after,
.wrapper::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  z-index: 0;
  background-image: url(../img/bg/bg.webp);
  opacity: .2;
  background-repeat: repeat
}
.hero,
.menu__body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.about-hero__body:before,
.benefits__body:before,
.expectations__list:before,
.what:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none
}
.btn {
  display: grid;
  place-items: center;
  border: .125rem solid #ddff7c;
  box-shadow: 0 5px 20px 0 rgba(221,255,124,.5);
  width: 100%;
  font-weight: 500;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background-color .3s ease,color .3s ease,box-shadow .3s ease
}
.btn_one {
  background-color: #ddff7c;
  color: #00074b
}
.btn_two {
  background-color: rgba(255,255,255,.2);
  color: #ddff7c
}
.btn_three {
  color: #ddff7c
}
.title-main {
  font-weight: 800;
  text-align: center
}
.title-main span {
  color: #ddff7c
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__right {
  position: relative;
  z-index: 5
}
.header__tel,
.menu__contact {
  display: flex;
  align-items: center;
  gap: .25rem;
  transition: color .3s ease
}
.header__tel::before,
.menu__contact::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.875rem;
  height: 1.875rem
}
.menu {
  display: flex;
  align-items: center
}
.menu__icon:not(:last-child) {
  margin-right: .625rem
}
.menu__logo {
  width: 100%;
  position: relative
}
.menu__logo img {
  width: 100%;
  height: auto
}
.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #010039;
  pointer-events: none;
  clip-path: circle(0 at 0 0)
}
.menu__body:before {
  position: fixed
}
.menu-open .menu__body {
  pointer-events: all;
  clip-path: circle(150% at 0 0)
}
.menu__container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column
}
.menu__item {
  overflow: hidden
}
.menu-open .menu__item:nth-child(1) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .3s;
  transition: color .3s ease,transform .4s ease .3s;
  transition: color .3s ease,transform .4s ease .3s,-webkit-transform .4s ease .3s
}
.menu-open .menu__item:nth-child(2) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .35s;
  transition: color .3s ease,transform .4s ease .35s;
  transition: color .3s ease,transform .4s ease .35s,-webkit-transform .4s ease .35s
}
.menu-open .menu__item:nth-child(3) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .4s;
  transition: color .3s ease,transform .4s ease .4s;
  transition: color .3s ease,transform .4s ease .4s,-webkit-transform .4s ease .4s
}
.menu-open .menu__item:nth-child(4) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .45s;
  transition: color .3s ease,transform .4s ease .45s;
  transition: color .3s ease,transform .4s ease .45s,-webkit-transform .4s ease .45s
}
.menu-open .menu__item:nth-child(5) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .5s;
  transition: color .3s ease,transform .4s ease .5s;
  transition: color .3s ease,transform .4s ease .5s,-webkit-transform .4s ease .5s
}
.menu__link {
  font-weight: 800;
  transition: color .3s ease,-webkit-transform 0s ease .5s;
  transition: color .3s ease,transform 0s ease .5s;
  transition: color .3s ease,transform 0s ease .5s,-webkit-transform 0s ease .5s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.menu-open .menu__link {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: color .3s ease,-webkit-transform .4s ease 0s;
  transition: color .3s ease,transform .4s ease 0s;
  transition: color .3s ease,transform .4s ease 0s,-webkit-transform .4s ease 0s
}
.menu__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end
}
.menu__address,
.menu__block {
  opacity: 0;
  transition: opacity .45s ease 0s
}
.menu-open .menu__address,
.menu-open .menu__block {
  opacity: 1
}
.menu__block {
  max-width: 19.8125rem
}
.menu__address {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 3.125rem
}
.menu__contact.tel::before {
  background-image: url(../img/icons/phone.svg)
}
.menu__contact.loc::before {
  background-image: url(../img/icons/loc-2.svg)
}
.social {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1.25rem
}
.social p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #30acff
}
.social__link {
  display: grid;
  place-items: center;
  width: 2.25rem;
  aspect-ratio: 1/1
}
.social__link svg path {
  transition: fill .3s ease
}
.lng {
  position: relative
}
.lng__btn {
  font-weight: 500
}
._show .lng__btn {
  background-color: #ddff7c;
  color: #00074b
}
.lng__list {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  padding-top: 100%;
  width: 100%;
  border-radius: .75rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255,255,255,.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity .65s ease 0s
}
._show .lng__list {
  opacity: 1;
  pointer-events: all
}
.lng__item {
  opacity: 0;
  transition: opacity .45s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,opacity .45s ease;
  transition: transform .3s ease,opacity .45s ease,-webkit-transform .3s ease;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.lng__item:last-child .lng__link {
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem
}
._show .lng__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
._show .lng__item:nth-child(1) {
  transition-delay: 0s
}
._show .lng__item:nth-child(2) {
  transition-delay: .1s
}
._show .lng__item:nth-child(3) {
  transition-delay: .2s
}
._show .lng__item:nth-child(4) {
  transition-delay: .3s
}
._show .lng__item:nth-child(5) {
  transition-delay: .4s
}
._show .lng__item:nth-child(6) {
  transition-delay: .5s
}
.lng__link {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  transition: background-color .3s ease,color .3s ease
}
.icon-menu,
.lng__btn {
  z-index: 5;
  position: relative;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: .75rem;
  background: rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background-color .3s ease,color .3s ease
}
.menu-open .icon-menu {
  background-color: #ddff7c;
  color: #00074b
}
.menu-open .icon-menu .icon-menu__item span,
.menu-open .icon-menu .icon-menu__item::after,
.menu-open .icon-menu .icon-menu__item::before {
  background-color: #00074b
}
.icon-menu__item {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.3125rem;
  z-index: 5
}
.icon-menu__item span,
.icon-menu__item::after,
.icon-menu__item::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .1875rem;
  background-color: #ddff7c;
  border-radius: .25rem
}
.icon-menu__item::before {
  top: 0
}
.icon-menu__item::after {
  bottom: 0
}
.icon-menu__item span {
  width: 65%;
  right: unset;
  left: 0;
  top: calc(50% - .09375rem)
}
.menu-open .icon-menu__item span {
  width: 0
}
.menu-open .icon-menu__item::before {
  top: calc(50% - .09375rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.menu-open .icon-menu__item::after {
  bottom: calc(50% - .09375rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.hero {
  padding-bottom: 5rem
}
.hero__container {
  display: grid;
  gap: 1.25rem
}
.hero__title {
  font-weight: 800;
  line-height: 1.05
}
.hero__title span {
  color: #ddff7c
}
.hero__subtitle {
  font-weight: 500;
  line-height: 1.1
}
.hero__btns {
  display: grid
}
.about-hero {
  display: grid;
  place-items: center
}
.about-hero__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: -webkit-min-content;
  height: min-content
}
.about-hero__body:before {
  background-image: url(../img/bg/about-hero-bg.webp);
  width: 200%;
  height: 200%;
  opacity: .8
}
.about-hero__item {
  position: relative
}
.about-hero__item p {
  position: absolute;
  z-index: 3;
  text-align: center
}
.about-hero__item p:before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/spiral.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 4.0625rem
}
.about-hero__item:nth-child(1) p {
  top: -1.875rem
}
.about-hero__item:nth-child(1) p::before {
  left: 10px;
  -webkit-transform: scaleX(-1) rotate(15deg);
  transform: scaleX(-1) rotate(15deg)
}
.about-hero__item:nth-child(1) .about-hero__img {
  -webkit-transform: rotate(-4.36deg);
  transform: rotate(-4.36deg)
}
.about-hero__item:nth-child(2) p {
  top: -2.1875rem;
  right: 0
}
.about-hero__item:nth-child(2) p::before {
  right: .625rem
}
.about-hero__item:nth-child(2) .about-hero__img {
  -webkit-transform: rotate(5.64deg);
  transform: rotate(5.64deg)
}
.about-hero__item:nth-child(3) p {
  top: -1.875rem
}
.about-hero__item:nth-child(3) p::before {
  left: 1.5625rem;
  -webkit-transform: scaleX(-1) rotate(45deg);
  transform: scaleX(-1) rotate(45deg)
}
.about-hero__item:nth-child(3) .about-hero__img {
  -webkit-transform: rotate(-5.64deg);
  transform: rotate(-5.64deg)
}
.about-hero__item:nth-child(4) p {
  width: -webkit-min-content;
  width: min-content
}
.about-hero__item:nth-child(4) p::before {
  right: 1.5625rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg)
}
.about-hero__item:nth-child(4) .about-hero__img {
  -webkit-transform: rotate(5.38deg);
  transform: rotate(5.38deg)
}
.about-hero__img {
  aspect-ratio: 1;
  overflow: hidden;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 5px 5px 20px 0 rgba(221,255,124,.2);
  border: .0625rem solid #ddff7c
}
.about-hero__ic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 5px 5px 20px 0 rgba(221,255,124,.2);
  background-color: rgba(255,255,255,.01);
  border: .0625rem solid #ddff7c
}
.about-hero__ic img {
  width: 100%;
  height: auto
}
.expectations__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.expectations__list:before {
  background-image: url(../img/bg/expect-bg.svg);
  width: 350%;
  height: 350%
}
.expectations__item {
  width: 100%;
  max-width: 28.75rem;
  aspect-ratio: 465/185;
  border-radius: 1.875rem;
  border: .0625rem solid #ddff7c;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(135deg,#00109c -19%,#000852 100%);
  display: grid;
  align-items: center
}
.expectations__img img {
  max-width: 100%;
  height: auto
}
.expectations__body {
  line-height: 1.1
}
.expectations__body h3 {
  font-weight: 700;
  margin-bottom: .625rem
}
.expectations__body p {
  color: rgba(255,255,255,.75)
}
.expectations__body p:not(:last-child) {
  margin-bottom: .625rem
}
.benefits__body {
  position: relative;
  display: grid
}
.benefits__body p {
  line-height: 1.1;
  text-align: center;
  opacity: .75
}
.benefits__img {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
  border-radius: 1.875rem;
  overflow: hidden;
  border: .0625rem solid #ddff7c;
  aspect-ratio: 1
}
.benefits__img img {
  aspect-ratio: 1
}
.what {
  position: relative;
  z-index: 1
}
.what__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr))
}
.item-what {
  border-radius: 1.875rem;
  border: .125rem solid #ddff7c;
  overflow: hidden;
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(135deg,#00109c 0,#000852 100%);
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column
}
.item-what__slider {
  flex: 1;
  position: relative;
  overflow: visible!important
}
.item-what__slider .swiper-button-next,
.item-what__slider .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .375rem;
  transition: background-color .3s ease
}
.item-what__slider .swiper-button-next::before,
.item-what__slider .swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%,-50%);
  transform: translate(-55%,-50%);
  background-image: url(../img/icons/arr-slider.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 70%
}
.item-what__slider .swiper-button-prev {
  left: .9375rem
}
.item-what__slider .swiper-button-next {
  right: .9375rem
}
.item-what__slider .swiper-button-next::before {
  -webkit-transform: translate(-45%,-50%) scaleX(-1);
  transform: translate(-45%,-50%) scaleX(-1)
}
.item-what__slide {
  display: grid;
  place-items: center
}
.item-what__slide-w {
  opacity: .4;
  border-radius: .875rem;
  border: .125rem solid #ddff7c;
  transition: opacity .3s ease;
  overflow: hidden;
  box-shadow: 0 5px 25px 7px rgba(210,255,83,.25)
}
.swiper-slide-active .item-what__slide-w {
  opacity: 1
}
.item-what__slide-w img {
  aspect-ratio: 185/276
}
.item-what__footer {
  text-align: center;
  line-height: 1.1;
  padding-top: 1.5625rem
}
.item-what__footer h3 {
  font-weight: 700;
  margin-bottom: .625rem
}
.item-what__footer p {
  opacity: .75
}
.item-what__footer p:not(:last-child) {
  margin-bottom: .625rem
}
.item-what__btn {
  margin-top: 1.25rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-pointer-events {
  touch-action: pan-y
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}
.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory
}
.swiper-vertical.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory
}
.swiper-centered>.swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999
}
.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-vertical>.swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-centered>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: center center
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size)
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size)
}
@media (min-width:23.81125em) {
  .header__link {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem
  }
}
@media (min-width:23.49875em) {
  .about-hero__item:nth-child(1) p {
    left: -1.25rem
  }
  .about-hero__item:nth-child(3) p {
    left: -2.5rem
  }
}
@media (min-width:30.06125em) {
  .menu__body::after,
  .wrapper::after {
    background-size: 18.75rem
  }
  .hero,
  .menu__body {
    background-image: url(../img/bg/hero-pc.webp)
  }
  .header {
    transition: top .65s ease
  }
  .menu__body {
    transition: clip-path .65s ease;
    align-items: end;
    background-image: url(../img/bg/hero-pc-2.webp)
  }
  .menu__container {
    row-gap: 5.625rem
  }
  .menu__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .menu-open .menu__address,
  .menu-open .menu__block {
    transition-delay: .5s
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__btns {
    grid-template-columns: 1fr 1fr
  }
  .expectations__item {
    grid-template-columns: 1fr 58%
  }
  .benefits__body:before {
    background-image: url(../img/bg/benefits-pc.webp);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200%;
    height: 350%
  }
  .what:before {
    width: 150%;
    height: 270%;
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
    background-image: url(../img/bg/games-pc.webp)
  }
}
@media (min-width:37.56125em) {
  .header__link {
    min-width: 16.25rem
  }
}
@media (min-width:48.06125em) {
  .benefits__title {
    max-width: 50.625rem;
    margin-inline: auto
  }
  .what__title {
    max-width: 38.125rem;
    margin-inline: auto
  }
}
@media (min-width:50.06125em) {
  .benefits__body {
    grid-template-columns: repeat(4,1fr)
  }
  .benefits__body p {
    grid-column: 2/4
  }
  .benefits__img:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/3
  }
  .benefits__img:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3
  }
}
@media (min-width:51.31125em) {
  .menu__logo {
    margin-left: 3.125rem;
    max-width: 12.625rem;
    z-index: 5
  }
  .hero__logo {
    display: none
  }
}
@media (min-width:61.31125em) {
  .hero__container {
    grid-template-columns: 54% 1fr
  }
  .hero__btns {
    max-width: 80%
  }
  .about-hero__item:nth-child(1) p::before {
    top: 25px
  }
  .about-hero__item:nth-child(2) p::before {
    top: 25px
  }
  .about-hero__item:nth-child(3) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 2.8125rem
  }
}
@media (min-width:64.06125em) {
  .header._header-scroll {
    top: 1.25rem
  }
  .header__right {
    display: flex;
    align-items: center
  }
  .header__tel {
    flex: 0 0 auto;
    font-size: 1.25rem
  }
  .header__tel::before {
    background-image: url(../img/icons/phone.svg)
  }
  .header__tel:not(:last-child) {
    margin-right: 3.125rem
  }
}
@media (min-width:71.31125em) {
  .about-hero__item:nth-child(4) p {
    top: -3.125rem;
    right: -3.75rem
  }
}
@media (min-width:82.5em) {
  .benefits,
  .expectations,
  .what {
    padding-bottom: 10.625rem
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .menu__link {
    font-size: 3.875rem
  }
  .hero__btns {
    gap: 1.25rem
  }
  .expectations__list {
    gap: 2.5rem
  }
  .expectations__item {
    gap: 2.8125rem
  }
  .expectations__item {
    padding-top: 1.5625rem
  }
  .expectations__item {
    padding-bottom: 1.5625rem
  }
  .expectations__item {
    padding-left: 2.5rem
  }
  .expectations__item {
    padding-right: 2.5rem
  }
  .expectations__body h3 {
    font-size: 1.25rem
  }
  .expectations__body p {
    font-size: 1.125rem
  }
  .benefits__body {
    gap: 2.5rem
  }
  .benefits__body p {
    font-size: 1.25rem
  }
  .what__list {
    gap: 2.5rem
  }
  .item-what__footer {
    padding-left: 2.1875rem
  }
  .item-what__footer {
    padding-right: 2.1875rem
  }
  .item-what__footer {
    padding-bottom: 2.1875rem
  }
  .item-what__footer h3 {
    font-size: 1.75rem
  }
}
@media (min-width:90.06125em) {
  .btn {
    border-radius: 1.25rem
  }
  .btn {
    min-height: 4.375rem
  }
  .btn {
    font-size: 1.25rem
  }
  .title-main {
    font-size: 3.875rem
  }
  .title-main:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .header {
    top: 3.75rem
  }
  .menu__container {
    padding-top: 9.375rem
  }
  .menu__container {
    padding-bottom: 3.75rem
  }
  .lng__btn,
  .lng__link {
    font-size: 1.25rem
  }
  .hero__container {
    padding-top: 14.375rem
  }
  .hero__container {
    padding-bottom: 4.375rem
  }
  .hero__title {
    font-size: 4.5rem
  }
  .hero__subtitle {
    font-size: 1.75rem
  }
  .about-hero__body {
    gap: 3.75rem
  }
  .about-hero__item p {
    font-size: 1.25rem
  }
  .about-hero__item p:before {
    width: 2.125rem
  }
  .about-hero__img {
    border-radius: 1.375rem
  }
  .about-hero__img {
    max-width: 11.75rem
  }
  .about-hero__ic {
    width: 8.125rem
  }
  .about-hero__ic img {
    max-width: 4.6875rem
  }
}
@media (min-width:120.06125em) {
  .hero__subtitle:not(:last-child) {
    margin-bottom: 8.75rem
  }
}
@media (min-width:90em) {
  .lng {
    width: 4.375rem
  }
  .icon-menu,
  .lng__btn {
    width: 4.375rem
  }
}
@media (max-width:20em) {
  .benefits,
  .expectations,
  .what {
    padding-bottom: 6.25rem
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .menu__link {
    font-size: 2.125rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__btns {
    gap: .625rem
  }
  .expectations__list {
    gap: 1.25rem
  }
  .expectations__item {
    gap: 1.25rem
  }
  .expectations__item {
    padding-top: 1.25rem
  }
  .expectations__item {
    padding-bottom: 1.25rem
  }
  .expectations__item {
    padding-left: 1.25rem
  }
  .expectations__item {
    padding-right: 1.25rem
  }
  .expectations__body h3 {
    font-size: 1.125rem
  }
  .expectations__body p {
    font-size: .875rem
  }
  .benefits__body {
    gap: 1rem
  }
  .benefits__body p {
    font-size: 1rem
  }
  .what__list {
    gap: 1.125rem
  }
  .item-what__footer {
    padding-left: 1.125rem
  }
  .item-what__footer {
    padding-right: 1.125rem
  }
  .item-what__footer {
    padding-bottom: 1.125rem
  }
  .item-what__footer h3 {
    font-size: 1.25rem
  }
}
@media (max-width:64.06125em) {
  .header {
    top: 2.5rem
  }
  .header {
    top: 1.25rem!important
  }
  .header__tel {
    display: none!important
  }
}
@media (max-width:61.31125em) {
  .hero__btns {
    margin-top: 1.25rem
  }
  .about-hero__item:nth-child(4) p {
    top: -2.1875rem;
    right: -3.125rem
  }
}
@media (max-width:51.31125em) {
  .menu__logo {
    margin-bottom: 1.25rem
  }
  .hero__logo {
    display: block;
    max-width: 11.5rem;
    margin-bottom: 1.875rem
  }
}
@media (max-width:50.06125em) {
  .benefits__body {
    grid-template-columns: repeat(2,1fr)
  }
  .benefits__body p {
    grid-column: span 2
  }
}
@media (max-width:30.06125em) {
  .menu__body::after,
  .wrapper::after {
    background-size: 6.25rem
  }
  .hero,
  .menu__body {
    background-image: url(../img/bg/hero-mb.webp)
  }
  .btn {
    border-radius: 1.0625rem
  }
  .btn {
    min-height: 3.75rem
  }
  .btn {
    font-size: 1rem
  }
  .title-main {
    font-size: 2rem
  }
  .title-main:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .menu__body {
    transition: clip-path .5s ease;
    background-image: url(../img/bg/hero-mb-2.webp)
  }
  .menu__container {
    padding-top: 6.875rem
  }
  .menu__container {
    padding-bottom: 1.25rem
  }
  .menu__container {
    row-gap: 3.125rem;
    justify-content: space-between
  }
  .menu-open .menu__address,
  .menu-open .menu__block {
    transition-delay: .3s
  }
  .lng {
    width: 3.75rem
  }
  .lng__btn,
  .lng__link {
    font-size: 1rem
  }
  .icon-menu,
  .lng__btn {
    width: 3.75rem
  }
  .hero__container {
    padding-top: 8.125rem
  }
  .hero__container {
    padding-bottom: 1.25rem
  }
  .hero__main {
    margin-bottom: 3.125rem
  }
  .hero__title {
    font-size: 2.375rem
  }
  .hero__subtitle {
    font-size: 1.25rem
  }
  .hero__subtitle:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .about-hero__body {
    gap: 2.5rem
  }
  .about-hero__item p {
    font-size: .8125rem
  }
  .about-hero__item p:before {
    width: 1.375rem
  }
  .about-hero__item:nth-child(1) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(2) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(3) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 1.125rem
  }
  .about-hero__img {
    border-radius: 1.0625rem
  }
  .about-hero__img {
    max-width: 7.5rem
  }
  .about-hero__ic {
    width: 5.25rem
  }
  .about-hero__ic img {
    max-width: 3.125rem
  }
  .expectations__item {
    grid-template-columns: 1fr 70%
  }
  .benefits__body:before {
    background-image: url(../img/bg/benefits-mb.webp);
    -webkit-transform: translate(-50%,-60%);
    transform: translate(-50%,-60%);
    width: 400%;
    height: 400%
  }
  .what:before {
    width: 110%;
    height: 200%;
    background-image: url(../img/bg/games-mb.webp)
  }
}
@media (max-width:23.81125em) {
  .header__link {
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .about-hero__item:nth-child(4) p {
    right: -5%
  }
}
@media (max-width:23.49875em) {
  .hero__title {
    font-size: 1.875rem!important
  }
  .about-hero__item:nth-child(1) p {
    left: -.3125rem
  }
  .about-hero__item:nth-child(3) p {
    left: -.3125rem
  }
}
@media (max-width:22.56125em) {
  .lng {
    width: 3.125rem!important
  }
  .icon-menu,
  .lng__btn {
    width: 3.125rem!important
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .btn {
    border-radius: clamp(1.0625rem ,.9685585938rem + .3125vw ,1.25rem)
  }
  .btn {
    min-height: clamp(3.75rem ,3.4368619792rem + 1.0416666667vw ,4.375rem)
  }
  .btn {
    font-size: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .title-main {
    font-size: clamp(2rem ,1.0605859375rem + 3.125vw ,3.875rem)
  }
  .title-main:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.7796549479rem + 2.6041666667vw ,3.125rem)
  }
  .menu__container {
    padding-top: clamp(6.875rem ,5.6224479167rem + 4.1666666667vw ,9.375rem)
  }
  .menu__container {
    padding-bottom: clamp(1.25rem ,-.0025520833rem + 4.1666666667vw ,3.75rem)
  }
  .lng__btn,
  .lng__link {
    font-size: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .hero__container {
    padding-top: clamp(8.125rem ,4.9936197917rem + 10.4166666667vw ,14.375rem)
  }
  .hero__container {
    padding-bottom: clamp(1.25rem ,-.3156901042rem + 5.2083333333vw ,4.375rem)
  }
  .hero__title {
    font-size: clamp(2.375rem ,1.3103307292rem + 3.5416666667vw ,4.5rem)
  }
  .hero__subtitle {
    font-size: clamp(1.25rem ,.9994895833rem + .8333333333vw ,1.75rem)
  }
  .about-hero__body {
    gap: clamp(2.5rem ,1.8737239583rem + 2.0833333333vw ,3.75rem)
  }
  .about-hero__item p {
    font-size: clamp(.8125rem ,.5933033854rem + .7291666667vw ,1.25rem)
  }
  .about-hero__item p:before {
    width: clamp(1.375rem ,.999234375rem + 1.25vw ,2.125rem)
  }
  .about-hero__img {
    border-radius: clamp(1.0625rem ,.9059309896rem + .5208333333vw ,1.375rem)
  }
  .about-hero__img {
    max-width: clamp(7.5rem ,5.3706614583rem + 7.0833333333vw ,11.75rem)
  }
  .about-hero__ic {
    width: clamp(5.25rem ,3.8095651042rem + 4.7916666667vw ,8.125rem)
  }
  .about-hero__ic img {
    max-width: clamp(3.125rem ,2.3421549479rem + 2.6041666667vw ,4.6875rem)
  }
}
@media (min-width:20em)and (max-width:82.5em) {
  .benefits,
  .expectations,
  .what {
    padding-bottom: clamp(6.25rem ,4.85rem + 7vw ,10.625rem)
  }
  .menu__item:not(:last-child) {
    margin-bottom: clamp(1.125rem ,.925rem + 1vw ,1.75rem)
  }
  .menu__link {
    font-size: clamp(2.125rem ,1.565rem + 2.8vw ,3.875rem)
  }
  .hero__btns {
    gap: clamp(.625rem ,.425rem + 1vw ,1.25rem)
  }
  .expectations__list {
    gap: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__item {
    gap: clamp(1.25rem ,.75rem + 2.5vw ,2.8125rem)
  }
  .expectations__item {
    padding-top: clamp(1.25rem ,1.15rem + .5vw ,1.5625rem)
  }
  .expectations__item {
    padding-bottom: clamp(1.25rem ,1.15rem + .5vw ,1.5625rem)
  }
  .expectations__item {
    padding-left: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__item {
    padding-right: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__body h3 {
    font-size: clamp(1.125rem ,1.085rem + .2vw ,1.25rem)
  }
  .expectations__body p {
    font-size: clamp(.875rem ,.795rem + .4vw ,1.125rem)
  }
  .benefits__body {
    gap: clamp(1rem ,.52rem + 2.4vw ,2.5rem)
  }
  .benefits__body p {
    font-size: clamp(1rem ,.92rem + .4vw ,1.25rem)
  }
  .what__list {
    gap: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .item-what__footer {
    padding-left: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer {
    padding-right: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer {
    padding-bottom: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer h3 {
    font-size: clamp(1.25rem ,1.09rem + .8vw ,1.75rem)
  }
}
@media (min-width:64.06125em)and (max-width:90.06125em) {
  .header {
    top: clamp(2.5rem ,-.5798677885rem + 4.8076923077vw ,3.75rem)
  }
}
@media (min-width:30.06125em)and (max-width:90em) {
  .lng {
    width: clamp(3.75rem ,3.4365419908rem + 1.0427311214vw ,4.375rem)
  }
  .icon-menu,
  .lng__btn {
    width: clamp(3.75rem ,3.4365419908rem + 1.0427311214vw ,4.375rem)
  }
}
@media (max-width:61.31125em)and (min-width:30.06125em) {
  .hero__main {
    margin-bottom: 3.75rem
  }
  .about-hero__item:nth-child(1) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(2) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(3) p::before {
    top: .625rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 1.875rem
  }
}
@media (min-width:20em)and (max-width:30.06125em) {
  .hero__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.0076096409rem + 6.2119517953vw ,1.875rem)
  }
}
@media (min-width:30.06125em)and (max-width:120.06125em) {
  .hero__subtitle:not(:last-child) {
    margin-bottom: clamp(1.875rem ,-.4213454861rem + 7.6388888889vw ,8.75rem)
  }
}
@media (max-width:61.31125em)and (min-width:37.56125em) {
  .hero__subtitle {
    max-width: 60%
  }
}
@media (max-width:71.31125em)and (min-width:61.31125em) {
  .about-hero__item:nth-child(4) p {
    top: -2.5rem;
    right: 0
  }
}
@media (any-hover:hover) {
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(221,255,124,.5)
  }
  .btn_one:hover {
    background-color: rgba(255,255,255,.2);
    color: #ddff7c
  }
  .btn_two:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .btn_three:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .header__tel:hover,
  .menu__contact:hover {
    color: #ddff7c
  }
  .menu__link:hover {
    color: #ddff7c
  }
  .social__link:hover svg path {
    fill: #fff
  }
  .lng__link:hover {
    background: rgba(255,255,255,.8);
    color: #00074b
  }
  .icon-menu:hover,
  .lng__btn:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .icon-menu:hover .icon-menu__item span,
  .icon-menu:hover .icon-menu__item::after,
  .icon-menu:hover .icon-menu__item::before,
  .lng__btn:hover .icon-menu__item span,
  .lng__btn:hover .icon-menu__item::after,
  .lng__btn:hover .icon-menu__item::before {
    background-color: #00074b
  }
  .item-what__slider .swiper-button-next:hover,
  .item-what__slider .swiper-button-prev:hover {
    background-color: rgba(255,255,255,.4)
  }
}
@media (any-hover:none) {
  .icon-menu__item {
    cursor: default
  }
}