@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Rubik,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,80rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 1.25rem;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: .125rem solid rgba(255,255,255,.2);
  caret-color: inherit;
  min-height: 3.75rem;
  color: rgba(255,255,255,.3);
  outline: 0;
  box-shadow: inset 0 3px 6px 0 rgba(0,0,0,.3);
  background-color: rgba(0,3,39,.5)
}
.input._form-focus {
  color: #fff;
  border: .125rem solid #ddff7c
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: rgba(255,255,255,.3)
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: rgba(255,255,255,.3)
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: rgba(255,255,255,.3)
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s;
  color: rgba(255,255,255,.3)
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
input[type=date] {
  font-family: Rubik,sans-serif
}
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(30%);
  filter: invert(30%);
  width: 30px;
  height: 30px
}
input[type=date]::-webkit-calendar-picker-indicator:focus {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}
textarea.input {
  resize: none;
  padding: 20px
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup_show {
  z-index: 150;
  pointer-events: auto!important
}
.popup_show .popup__content {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px 5px 30px;
  transition: visibility .8s ease 0s;
  overflow: auto;
  pointer-events: none
}
.popup.popup-msg {
  padding: 0
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%
}
.popup-msg .popup__wrapper {
  padding: 20px
}
.popup__content {
  opacity: 0;
  transition: opacity .3s ease 0s;
  background-color: #000;
  width: 100%;
  max-width: 1100px;
  position: relative
}
.lock .popup__content {
  visibility: visible
}
.popup-msg .popup__content {
  max-width: 37.5rem;
  aspect-ratio: 16/9;
  border-radius: 1.875rem;
  border: .125rem solid #ddff7c
}
.popup__close {
  position: absolute;
  top: -2.5rem;
  right: 0;
  width: 1.875rem;
  aspect-ratio: 1/1;
  outline: 0;
  padding: .3125rem;
  border-radius: 6px;
  background-color: #000;
  display: grid;
  place-items: center
}
.popup__close svg {
  width: 100%;
  height: auto
}
.popup__text {
  padding: .125rem
}
.popup__text iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9
}
.popup-msg .popup__text {
  padding: 3.75rem;
  display: grid;
  place-items: center;
  min-height: 100%
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: #010039
}
body::-webkit-scrollbar {
  width: 6px;
  height: 12px
}
body::-webkit-scrollbar-track {
  background-color: #b7b7b7
}
body::-webkit-scrollbar-thumb {
  background-color: #01001e;
  border-radius: 3px
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #00074b
}
body * {
  scrollbar-width: thin;
  scrollbar-color: #01001e #b7b7b7
}
.menu__body,
.wrapper {
  position: relative
}
.menu__body::after,
.wrapper::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  z-index: 0;
  background-image: url(../img/bg/bg.webp);
  opacity: .2;
  background-repeat: repeat
}
.hero,
.menu__body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.about-hero__body:before,
.about:before,
.benefits__body:before,
.expectations__list:before,
.faq:before,
.questions:before,
.what:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none
}
.item-prices,
.item-what,
.questions__body {
  overflow: hidden;
  border-radius: 1.875rem;
  border: .125rem solid #ddff7c;
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(135deg,#00109c 0,#000852 100%)
}
.btn {
  display: grid;
  place-items: center;
  border: .125rem solid #ddff7c;
  box-shadow: 0 5px 20px 0 rgba(221,255,124,.5);
  width: 100%;
  font-weight: 500;
  transition: background-color .3s ease,color .3s ease,box-shadow .3s ease
}
.btn_one {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #ddff7c;
  color: #00074b
}
.btn_two {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,.2);
  color: #ddff7c
}
.btn_three {
  color: #ddff7c
}
.title-main {
  font-weight: 800;
  text-align: center
}
.title-main span {
  color: #ddff7c
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__right {
  position: relative;
  z-index: 5
}
.header__tel,
.menu__contact {
  display: flex;
  align-items: center;
  gap: .25rem;
  transition: color .3s ease
}
.header__tel::before,
.menu__contact::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.875rem;
  height: 1.875rem
}
.menu {
  display: flex;
  align-items: center
}
.menu__icon:not(:last-child) {
  margin-right: .625rem
}
.menu__logo {
  width: 100%;
  position: relative
}
.menu__logo img {
  width: 100%;
  height: auto
}
.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #010039;
  pointer-events: none;
  clip-path: circle(0 at 0 0)
}
.menu__body:before {
  position: fixed
}
.menu-open .menu__body {
  pointer-events: all;
  clip-path: circle(150% at 0 0)
}
.menu__container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column
}
.menu__item {
  overflow: hidden
}
.menu-open .menu__item:nth-child(1) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .3s;
  transition: color .3s ease,transform .4s ease .3s;
  transition: color .3s ease,transform .4s ease .3s,-webkit-transform .4s ease .3s
}
.menu-open .menu__item:nth-child(2) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .35s;
  transition: color .3s ease,transform .4s ease .35s;
  transition: color .3s ease,transform .4s ease .35s,-webkit-transform .4s ease .35s
}
.menu-open .menu__item:nth-child(3) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .4s;
  transition: color .3s ease,transform .4s ease .4s;
  transition: color .3s ease,transform .4s ease .4s,-webkit-transform .4s ease .4s
}
.menu-open .menu__item:nth-child(4) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .45s;
  transition: color .3s ease,transform .4s ease .45s;
  transition: color .3s ease,transform .4s ease .45s,-webkit-transform .4s ease .45s
}
.menu-open .menu__item:nth-child(5) .menu__link {
  transition: color .3s ease,-webkit-transform .4s ease .5s;
  transition: color .3s ease,transform .4s ease .5s;
  transition: color .3s ease,transform .4s ease .5s,-webkit-transform .4s ease .5s
}
.menu__link {
  font-weight: 800;
  transition: color .3s ease,-webkit-transform 0s ease .5s;
  transition: color .3s ease,transform 0s ease .5s;
  transition: color .3s ease,transform 0s ease .5s,-webkit-transform 0s ease .5s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.menu-open .menu__link {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: color .3s ease,-webkit-transform .4s ease 0s;
  transition: color .3s ease,transform .4s ease 0s;
  transition: color .3s ease,transform .4s ease 0s,-webkit-transform .4s ease 0s
}
.menu__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end
}
.menu__address,
.menu__block {
  opacity: 0;
  transition: opacity .45s ease 0s
}
.menu-open .menu__address,
.menu-open .menu__block {
  opacity: 1
}
.menu__block {
  max-width: 19.8125rem
}
.menu__address {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 3.125rem
}
.menu__contact.tel::before {
  background-image: url(../img/icons/phone.svg)
}
.menu__contact.loc::before {
  background-image: url(../img/icons/loc-2.svg)
}
.social {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1.25rem
}
.social p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #30acff
}
.social__link {
  display: grid;
  place-items: center;
  width: 2.25rem;
  aspect-ratio: 1/1
}
.social__link svg path {
  transition: fill .3s ease
}
.lng {
  position: relative
}
.lng__btn {
  font-weight: 500
}
._show .lng__btn {
  background-color: #ddff7c;
  color: #00074b
}
.lng__list {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  padding-top: 100%;
  width: 100%;
  border-radius: .75rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255,255,255,.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity .65s ease 0s
}
._show .lng__list {
  opacity: 1;
  pointer-events: all
}
.lng__item {
  opacity: 0;
  transition: opacity .45s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,opacity .45s ease;
  transition: transform .3s ease,opacity .45s ease,-webkit-transform .3s ease;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.lng__item:last-child .lng__link {
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem
}
._show .lng__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
._show .lng__item:nth-child(1) {
  transition-delay: 0s
}
._show .lng__item:nth-child(2) {
  transition-delay: .1s
}
._show .lng__item:nth-child(3) {
  transition-delay: .2s
}
._show .lng__item:nth-child(4) {
  transition-delay: .3s
}
._show .lng__item:nth-child(5) {
  transition-delay: .4s
}
._show .lng__item:nth-child(6) {
  transition-delay: .5s
}
.lng__link {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  transition: background-color .3s ease,color .3s ease
}
.icon-menu,
.lng__btn {
  z-index: 5;
  position: relative;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: .75rem;
  background: rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background-color .3s ease,color .3s ease
}
.menu-open .icon-menu {
  background-color: #ddff7c;
  color: #00074b
}
.menu-open .icon-menu .icon-menu__item span,
.menu-open .icon-menu .icon-menu__item::after,
.menu-open .icon-menu .icon-menu__item::before {
  background-color: #00074b
}
.icon-menu__item {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.3125rem;
  z-index: 5
}
.icon-menu__item span,
.icon-menu__item::after,
.icon-menu__item::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .1875rem;
  background-color: #ddff7c;
  border-radius: .25rem
}
.icon-menu__item::before {
  top: 0
}
.icon-menu__item::after {
  bottom: 0
}
.icon-menu__item span {
  width: 65%;
  right: unset;
  left: 0;
  top: calc(50% - .09375rem)
}
.menu-open .icon-menu__item span {
  width: 0
}
.menu-open .icon-menu__item::before {
  top: calc(50% - .09375rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.menu-open .icon-menu__item::after {
  bottom: calc(50% - .09375rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.footer__container {
  max-width: 69rem
}
.footer__head {
  display: grid;
  gap: 1.875rem
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.875rem
}
.footer__logo {
  display: block;
  max-width: 18.4375rem;
  margin-bottom: 1.4375rem
}
.footer__logo img {
  width: 100%;
  height: auto
}
.footer__social {
  max-width: 18.9375rem;
  gap: .625rem
}
.footer__address {
  font-size: 1.375rem
}
.footer__address .menu__contact:not(:last-child) {
  margin-bottom: .625rem
}
.footer__map {
  border-radius: 1.875rem;
  border: .125rem solid #ddff7c;
  overflow: hidden
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: .0625rem solid rgba(255,255,255,.1)
}
.footer__bottom .footer__policy,
.footer__bottom .footer__rights {
  opacity: .3;
  line-height: 1.1
}
.footer__policy {
  transition: opacity .3s ease
}
.hero {
  padding-bottom: 5rem
}
.hero__container {
  display: grid;
  gap: 1.25rem
}
.hero__title {
  font-weight: 800;
  line-height: 1.05
}
.hero__title span {
  color: #ddff7c
}
.hero__subtitle {
  font-weight: 500;
  line-height: 1.1
}
.hero__btns {
  display: grid
}
.about-hero {
  display: grid;
  place-items: center
}
.about-hero__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: -webkit-min-content;
  height: min-content
}
.about-hero__body:before {
  background-image: url(../img/bg/about-hero-bg.webp);
  width: 200%;
  height: 200%;
  opacity: .8
}
.about-hero__item {
  position: relative
}
.about-hero__item p {
  position: absolute;
  z-index: 3;
  text-align: center
}
.about-hero__item p:before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/spiral.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 4.0625rem
}
.about-hero__item:nth-child(1) p {
  top: -1.875rem
}
.about-hero__item:nth-child(1) p::before {
  left: 10px;
  -webkit-transform: scaleX(-1) rotate(15deg);
  transform: scaleX(-1) rotate(15deg)
}
.about-hero__item:nth-child(1) .about-hero__img {
  -webkit-transform: rotate(-4.36deg);
  transform: rotate(-4.36deg)
}
.about-hero__item:nth-child(2) p {
  top: -2.1875rem;
  right: 0
}
.about-hero__item:nth-child(2) p::before {
  right: .625rem
}
.about-hero__item:nth-child(2) .about-hero__img {
  -webkit-transform: rotate(5.64deg);
  transform: rotate(5.64deg)
}
.about-hero__item:nth-child(3) p {
  top: -1.875rem
}
.about-hero__item:nth-child(3) p::before {
  left: 1.5625rem;
  -webkit-transform: scaleX(-1) rotate(45deg);
  transform: scaleX(-1) rotate(45deg)
}
.about-hero__item:nth-child(3) .about-hero__img {
  -webkit-transform: rotate(-5.64deg);
  transform: rotate(-5.64deg)
}
.about-hero__item:nth-child(4) p {
  width: -webkit-min-content;
  width: min-content
}
.about-hero__item:nth-child(4) p::before {
  right: 1.5625rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg)
}
.about-hero__item:nth-child(4) .about-hero__img {
  -webkit-transform: rotate(5.38deg);
  transform: rotate(5.38deg)
}
.about-hero__img {
  aspect-ratio: 1;
  overflow: hidden;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 5px 5px 20px 0 rgba(221,255,124,.2);
  border: .0625rem solid #ddff7c
}
.about-hero__ic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 5px 5px 20px 0 rgba(221,255,124,.2);
  background-color: rgba(255,255,255,.01);
  border: .0625rem solid #ddff7c
}
.about-hero__ic img {
  width: 100%;
  height: auto
}
.expectations__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.expectations__list:before {
  background-image: url(../img/bg/expect-bg.svg);
  width: 350%;
  height: 350%
}
.expectations__item {
  width: 100%;
  max-width: 28.75rem;
  aspect-ratio: 465/185;
  border-radius: 1.875rem;
  border: .0625rem solid #ddff7c;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(135deg,#00109c -19%,#000852 100%);
  display: grid;
  align-items: center
}
.expectations__img img {
  max-width: 100%;
  height: auto
}
.expectations__body {
  line-height: 1.1
}
.expectations__body h3 {
  font-weight: 700;
  margin-bottom: .625rem
}
.expectations__body p {
  color: rgba(255,255,255,.75)
}
.expectations__body p:not(:last-child) {
  margin-bottom: .625rem
}
.benefits__body {
  position: relative;
  display: grid
}
.benefits__body p {
  line-height: 1.1;
  text-align: center;
  opacity: .75
}
.benefits__img {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
  border-radius: 1.875rem;
  overflow: hidden;
  border: .0625rem solid #ddff7c;
  aspect-ratio: 1
}
.benefits__img img {
  aspect-ratio: 1
}
.what {
  position: relative;
  z-index: 1
}
.what__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
}
.item-what__slider .swiper-button-next,
.item-what__slider .swiper-button-prev,
.testimonials__body .swiper-button-next,
.testimonials__body .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .375rem;
  transition: background-color .3s ease
}
.item-what__slider .swiper-button-next::before,
.item-what__slider .swiper-button-prev::before,
.testimonials__body .swiper-button-next::before,
.testimonials__body .swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%,-50%);
  transform: translate(-55%,-50%);
  background-image: url(../img/icons/arr-slider.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 70%
}
.item-what {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column
}
.item-what__slider {
  position: relative;
  overflow: visible!important
}
.item-what__slider .swiper-button-prev {
  left: .9375rem
}
.item-what__slider .swiper-button-next {
  right: .9375rem
}
.item-what__slider .swiper-button-next::before {
  -webkit-transform: translate(-45%,-50%) scaleX(-1);
  transform: translate(-45%,-50%) scaleX(-1)
}
.item-what__slide {
  display: grid;
  place-items: center
}
.item-what__slide-w {
  opacity: .4;
  border-radius: .875rem;
  border: .125rem solid #ddff7c;
  transition: opacity .3s ease;
  overflow: hidden;
  box-shadow: 0 5px 25px 7px rgba(210,255,83,.25)
}
.swiper-slide-active .item-what__slide-w {
  opacity: 1
}
.item-what__slide-w img {
  aspect-ratio: 185/276
}
.item-what__footer {
  text-align: center;
  line-height: 1.1;
  padding-top: 1.5625rem
}
.item-what__footer h3 {
  font-weight: 700;
  margin-bottom: .625rem
}
.item-what__footer p {
  opacity: .75
}
.item-what__footer p:not(:last-child) {
  margin-bottom: .625rem
}
.item-what__btn {
  margin-top: 1.25rem
}
.prices__list {
  display: grid
}
.item-prices {
  height: -webkit-min-content;
  height: min-content;
  padding-top: 1.25rem
}
.item-prices__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.25rem;
  line-height: 1.1
}
.item-prices__title span {
  color: #ddff7c
}
.item-prices__img {
  border-top: .125rem solid #ddff7c;
  border-bottom: .125rem solid #ddff7c
}
.item-prices__img img {
  aspect-ratio: 353/177
}
.item-prices__list p {
  line-height: 1.1;
  color: rgba(255,255,255,.75);
  padding-left: 1.125rem;
  position: relative
}
.item-prices__list p:not(:last-child) {
  margin-bottom: .5rem
}
.item-prices__list p::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: .5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #5b88fe
}
.item-prices__subtitle {
  margin: 1.25rem 0 .625rem;
  color: #d7ff65;
  font-weight: 700;
  line-height: 1.1
}
.item-prices__link {
  margin: 1.25rem 0 .625rem
}
.item-prices__btn {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem
}
.item-prices__btn::after {
  content: url(../img/icons/arr-dwn-sm.svg);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.item-prices__btn span:last-child {
  display: none
}
._showmore-active .item-prices__btn span {
  display: none
}
._showmore-active .item-prices__btn span:last-child {
  display: block
}
.faq {
  position: relative
}
.faq:before {
  background-image: url(../img/bg/faq-bg.webp)
}
.spollers__item {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255,255,255,.26)
}
.spollers__item:not(:last-child) {
  margin-bottom: .625rem
}
.spollers__title {
  font-weight: 700;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: .9375rem;
  align-items: center;
  cursor: pointer
}
.spollers__title._spoller-active span::before {
  -webkit-transform: translate(-50%,-29%) rotate(180deg);
  transform: translate(-50%,-29%) rotate(180deg)
}
.spollers__title._spoller-active span::after {
  opacity: 1;
  -webkit-transform: translate(-50%,-71%) scaleY(-1) rotate(-180deg);
  transform: translate(-50%,-71%) scaleY(-1) rotate(-180deg)
}
.spollers__title span {
  flex: 0;
  position: relative;
  display: block;
  aspect-ratio: 1/1
}
.spollers__title span:after,
.spollers__title span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1/1;
  background-image: url(../img/icons/arr-dwn.svg);
  transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,opacity .3s ease;
  transition: transform .3s ease,opacity .3s ease,-webkit-transform .3s ease;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}
.spollers__title span:before {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.spollers__title span::after {
  opacity: 0;
  -webkit-transform: translate(-50%,-50%) scaleY(-1);
  transform: translate(-50%,-50%) scaleY(-1)
}
.spollers__content {
  line-height: 1.1;
  opacity: .5
}
.spollers__content p:not(:last-child) {
  margin-bottom: .625rem
}
.about {
  position: relative
}
.about:before {
  width: 200%;
  height: 200%
}
.about__body {
  display: grid
}
.about__content {
  line-height: 1.2
}
.about__content h3:not(:last-child),
.about__content p:not(:last-child) {
  margin-bottom: 1.25rem
}
.about__content h3 {
  font-weight: 700;
  color: #d7ff65
}
.about__content p {
  opacity: .75
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr 1fr
}
.about__img {
  border: .125rem solid #ddff7c;
  overflow: hidden;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2)
}
.about__img:nth-child(1) img,
.about__img:nth-child(4) img {
  aspect-ratio: 200/231
}
.about__img:nth-child(2) img,
.about__img:nth-child(3) img {
  aspect-ratio: 290/231
}
.about__img:nth-child(1) {
  grid-column: 1/3
}
.about__img:nth-child(2) {
  grid-column: 3/6
}
.about__img:nth-child(3) {
  grid-column: 1/4
}
.about__img:nth-child(4) {
  grid-column: 4/6
}
.testimonials {
  position: relative
}
.testimonials__body {
  position: relative
}
.testimonials__body .swiper-button-next,
.testimonials__body .swiper-button-prev {
  z-index: 5
}
.testimonials__body .swiper-button-next::before {
  -webkit-transform: translate(-45%,-50%) scaleX(-1);
  transform: translate(-45%,-50%) scaleX(-1)
}
.slide-testim__body {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.2);
  background: rgba(255,255,255,.26);
  border: .125rem solid #ddff7c;
  display: grid
}
.slide-testim__img {
  aspect-ratio: 1/1
}
.slide-testim__img img {
  border-radius: .9375rem
}
.slide-testim__content {
  display: flex;
  flex-direction: column;
  line-height: 1.1
}
.slide-testim__txt {
  flex: 1
}
.slide-testim__txt p:not(:last-child) {
  margin-bottom: .625rem
}
.slide-testim__name {
  opacity: .3
}
.rating {
  display: flex;
  align-items: flex-end;
  line-height: 1
}
.rating__body {
  position: relative
}
.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #c3c3d8
}
.rating__active {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #5b88fe
}
.questions {
  position: relative
}
.questions__body {
  position: relative;
  display: grid;
  overflow: visible
}
.form-qs form {
  display: grid;
  gap: .625rem
}
.form-qs__items {
  display: grid;
  gap: .625rem
}
._sending .form-qs__submit {
  opacity: .5;
  pointer-events: none
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-pointer-events {
  touch-action: pan-y
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}
.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory
}
.swiper-vertical.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory
}
.swiper-centered>.swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999
}
.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-vertical>.swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-centered>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: center center
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size)
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size)
}
@media (min-width:23.81125em) {
  .header__link {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem
  }
}
@media (min-width:23.49875em) {
  .about-hero__item:nth-child(1) p {
    left: -1.25rem
  }
  .about-hero__item:nth-child(3) p {
    left: -2.5rem
  }
}
@media (min-width:30.06125em) {
  .menu__body::after,
  .wrapper::after {
    background-size: 12.5rem
  }
  .hero,
  .menu__body {
    background-image: url(../img/bg/hero-pc.webp)
  }
  .header {
    transition: top .65s ease
  }
  .menu__body {
    transition: clip-path .65s ease;
    align-items: end;
    background-image: url(../img/bg/hero-pc-2.webp)
  }
  .menu__container {
    row-gap: 5.625rem
  }
  .menu__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .menu-open .menu__address,
  .menu-open .menu__block {
    transition-delay: .5s
  }
  .footer__map iframe {
    aspect-ratio: 620/257
  }
  .footer__bottom {
    gap: .625rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__btns {
    grid-template-columns: 1fr 1fr
  }
  .expectations__item {
    grid-template-columns: 1fr 58%
  }
  .benefits__body:before {
    background-image: url(../img/bg/benefits-pc.webp);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200%;
    height: 350%
  }
  .what:before {
    width: 150%;
    height: 270%;
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
    background-image: url(../img/bg/games-pc.webp)
  }
  .item-what__footer p {
    flex: 1
  }
  .item-what__footer {
    flex: 1;
    display: flex;
    flex-direction: column
  }
  .faq:before {
    -webkit-transform: translate(-50%,-60%);
    transform: translate(-50%,-60%);
    width: 130%;
    height: 130%
  }
  .spollers__title span {
    width: 2.375rem
  }
  .spollers__title span:after,
  .spollers__title span:before {
    width: 1.875rem
  }
  .about:before {
    background-image: url(../img/bg/about-pc.webp)
  }
  .slide-testim__body {
    grid-template-columns: 37% 1fr
  }
  .rating {
    font-size: 1.25rem
  }
  .questions:before {
    width: 200%;
    background-image: url(../img/bg/form-bg.webp)
  }
  .form-qs__items {
    grid-template-columns: 1fr 1fr
  }
}
@media (min-width:37.56125em) {
  .header__link {
    min-width: 16.25rem
  }
}
@media (min-width:43.81125em) {
  .about__body {
    grid-template-columns: 1fr 1fr
  }
  .about__btn {
    max-width: 20rem
  }
}
@media (min-width:47.56125em) {
  .footer__head {
    grid-template-columns: 42% 1fr
  }
}
@media (min-width:48.06125em) {
  .benefits__title {
    max-width: 50.625rem;
    margin-inline: auto
  }
  .what__title {
    max-width: 38.125rem;
    margin-inline: auto
  }
}
@media (min-width:50.06125em) {
  .benefits__body {
    grid-template-columns: repeat(4,1fr)
  }
  .benefits__body p {
    grid-column: 2/4
  }
  .benefits__img:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/3
  }
  .benefits__img:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3
  }
}
@media (min-width:51.31125em) {
  .menu__logo {
    margin-left: 3.125rem;
    max-width: 12.625rem;
    z-index: 5
  }
  .hero__logo {
    display: none
  }
  .prices__list {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (min-width:56.31125em) {
  .questions__body {
    grid-template-columns: 1fr 57%
  }
  .questions__img {
    position: absolute;
    bottom: 0;
    right: 0;
    grid-column: 1/2;
    width: 100%;
    height: 100%
  }
  .questions__img img {
    width: 120%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0
  }
  .questions__form {
    grid-column: 2/3
  }
}
@media (min-width:61.31125em) {
  .hero__container {
    grid-template-columns: 54% 1fr
  }
  .hero__btns {
    max-width: 80%
  }
  .about-hero__item:nth-child(1) p::before {
    top: 25px
  }
  .about-hero__item:nth-child(2) p::before {
    top: 25px
  }
  .about-hero__item:nth-child(3) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 2.8125rem
  }
}
@media (min-width:64.06125em) {
  .about__body,
  .questions__body,
  .spollers,
  .testimonials__slider {
    max-width: 66.5rem;
    margin-inline: auto
  }
  .header._header-scroll {
    top: 1.25rem
  }
  .header__right {
    display: flex;
    align-items: center
  }
  .header__tel {
    flex: 0 0 auto;
    font-size: 1.25rem
  }
  .header__tel::before {
    background-image: url(../img/icons/phone.svg)
  }
  .header__tel:not(:last-child) {
    margin-right: 3.125rem
  }
}
@media (min-width:71.31125em) {
  .about-hero__item:nth-child(4) p {
    top: -3.125rem;
    right: -3.75rem
  }
}
@media (min-width:78.18625em) {
  .testimonials__body .swiper-button-prev {
    left: .9375rem
  }
  .testimonials__body .swiper-button-next {
    right: .9375rem
  }
}
@media (min-width:82.5em) {
  .input {
    font-size: 1.125rem
  }
  textarea.input {
    min-height: 8.75rem
  }
  .about__img,
  .slide-testim__body,
  .spollers__item {
    border-radius: 1.875rem
  }
  .about,
  .benefits,
  .expectations,
  .faq,
  .prices,
  .questions,
  .testimonials,
  .what {
    padding-bottom: 10.625rem
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .menu__link {
    font-size: 3.875rem
  }
  .footer__head {
    padding-bottom: 2.8125rem
  }
  .footer__bottom {
    padding-top: 2.5rem
  }
  .footer__bottom {
    padding-bottom: 2.5rem
  }
  .hero__btns {
    gap: 1.25rem
  }
  .expectations__list {
    gap: 2.5rem
  }
  .expectations__item {
    gap: 2.8125rem
  }
  .expectations__item {
    padding-top: 1.5625rem
  }
  .expectations__item {
    padding-bottom: 1.5625rem
  }
  .expectations__item {
    padding-left: 2.5rem
  }
  .expectations__item {
    padding-right: 2.5rem
  }
  .expectations__body h3 {
    font-size: 1.25rem
  }
  .expectations__body p {
    font-size: 1.125rem
  }
  .benefits__body {
    gap: 2.5rem
  }
  .benefits__body p {
    font-size: 1.25rem
  }
  .what__list {
    gap: 2.5rem
  }
  .item-what__footer {
    padding-left: 2.1875rem
  }
  .item-what__footer {
    padding-right: 2.1875rem
  }
  .item-what__footer {
    padding-bottom: 2.1875rem
  }
  .item-what__footer h3 {
    font-size: 1.75rem
  }
  .prices__list {
    gap: 2.5rem
  }
  .item-prices__title {
    font-size: 2.125rem
  }
  .item-prices__body {
    padding-right: 1.875rem
  }
  .item-prices__body {
    padding-left: 1.875rem
  }
  .item-prices__body {
    padding-top: 1.875rem
  }
  .item-prices__body {
    padding-bottom: 1.25rem
  }
  .spollers__item {
    padding-left: 2.5rem
  }
  .spollers__item {
    padding-right: 2.5rem
  }
  .spollers__title {
    padding-top: 1.875rem
  }
  .spollers__title {
    padding-bottom: 1.875rem
  }
  .spollers__title {
    font-size: 1.75rem
  }
  .spollers__content {
    font-size: 1.25rem
  }
  .spollers__content {
    padding-bottom: 2.5rem
  }
  .about__body {
    gap: 2.5rem
  }
  .about__content h3 {
    font-size: 1.25rem
  }
  .about__content p {
    font-size: 1.125rem
  }
  .about__cards {
    gap: 1.25rem
  }
  .slide-testim__body {
    padding: 1.875rem
  }
  .slide-testim__body {
    gap: 1.25rem
  }
  .slide-testim__content {
    row-gap: 1.25rem
  }
  .questions__form {
    padding: 2.5rem
  }
}
@media (min-width:90.06125em) {
  .btn {
    border-radius: 1.25rem
  }
  .btn {
    min-height: 4.375rem
  }
  .btn {
    font-size: 1.25rem
  }
  .title-main {
    font-size: 3.875rem
  }
  .title-main:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .header {
    top: 3.75rem
  }
  .menu__container {
    padding-top: 9.375rem
  }
  .menu__container {
    padding-bottom: 3.75rem
  }
  .lng__btn,
  .lng__link {
    font-size: 1.25rem
  }
  .hero__container {
    padding-top: 14.375rem
  }
  .hero__container {
    padding-bottom: 4.375rem
  }
  .hero__title {
    font-size: 4.5rem
  }
  .hero__subtitle {
    font-size: 1.75rem
  }
  .about-hero__body {
    gap: 3.75rem
  }
  .about-hero__item p {
    font-size: 1.25rem
  }
  .about-hero__item p:before {
    width: 2.125rem
  }
  .about-hero__img {
    border-radius: 1.375rem
  }
  .about-hero__img {
    max-width: 11.75rem
  }
  .about-hero__ic {
    width: 8.125rem
  }
  .about-hero__ic img {
    max-width: 4.6875rem
  }
}
@media (min-width:120.06125em) {
  .hero__subtitle:not(:last-child) {
    margin-bottom: 8.75rem
  }
}
@media (min-width:90em) {
  .lng {
    width: 4.375rem
  }
  .icon-menu,
  .lng__btn {
    width: 4.375rem
  }
}
@media (max-width:20em) {
  .input {
    font-size: 1rem
  }
  textarea.input {
    min-height: 8.125rem
  }
  .about__img,
  .slide-testim__body,
  .spollers__item {
    border-radius: 1.125rem
  }
  .about,
  .benefits,
  .expectations,
  .faq,
  .prices,
  .questions,
  .testimonials,
  .what {
    padding-bottom: 6.25rem
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .menu__link {
    font-size: 2.125rem
  }
  .footer__head {
    padding-bottom: 1.875rem
  }
  .footer__bottom {
    padding-top: 1.875rem
  }
  .footer__bottom {
    padding-bottom: 1.875rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__btns {
    gap: .625rem
  }
  .expectations__list {
    gap: 1.25rem
  }
  .expectations__item {
    gap: 1.25rem
  }
  .expectations__item {
    padding-top: 1.25rem
  }
  .expectations__item {
    padding-bottom: 1.25rem
  }
  .expectations__item {
    padding-left: 1.25rem
  }
  .expectations__item {
    padding-right: 1.25rem
  }
  .expectations__body h3 {
    font-size: 1.125rem
  }
  .expectations__body p {
    font-size: .875rem
  }
  .benefits__body {
    gap: 1rem
  }
  .benefits__body p {
    font-size: 1rem
  }
  .what__list {
    gap: 1.125rem
  }
  .item-what__footer {
    padding-left: 1.125rem
  }
  .item-what__footer {
    padding-right: 1.125rem
  }
  .item-what__footer {
    padding-bottom: 1.125rem
  }
  .item-what__footer h3 {
    font-size: 1.25rem
  }
  .prices__list {
    gap: 1.125rem
  }
  .item-prices__title {
    font-size: 1.25rem
  }
  .item-prices__body {
    padding-right: 1.125rem
  }
  .item-prices__body {
    padding-left: 1.125rem
  }
  .item-prices__body {
    padding-top: 1.125rem
  }
  .item-prices__body {
    padding-bottom: 1.125rem
  }
  .spollers__item {
    padding-left: 1.125rem
  }
  .spollers__item {
    padding-right: 1.125rem
  }
  .spollers__title {
    padding-top: 1.125rem
  }
  .spollers__title {
    padding-bottom: 1.125rem
  }
  .spollers__title {
    font-size: 1rem
  }
  .spollers__content {
    font-size: .875rem
  }
  .spollers__content {
    padding-bottom: 1.125rem
  }
  .about__body {
    gap: 1.25rem
  }
  .about__content h3 {
    font-size: 1.125rem
  }
  .about__content p {
    font-size: 1rem
  }
  .about__cards {
    gap: .875rem
  }
  .slide-testim__body {
    padding: .875rem
  }
  .slide-testim__body {
    gap: .875rem
  }
  .slide-testim__content {
    row-gap: .875rem
  }
  .questions__form {
    padding: 1rem
  }
}
@media (max-width:78.18625em) {
  .testimonials__body .swiper-button-next,
  .testimonials__body .swiper-button-prev {
    position: relative;
    top: unset;
    -webkit-transform: unset;
    transform: unset;
    background-color: rgba(255,255,255,.4);
    margin-bottom: .9375rem
  }
}
@media (max-width:64.06125em) {
  .header {
    top: 2.5rem
  }
  .header {
    top: 1.25rem!important
  }
  .header__tel {
    display: none!important
  }
}
@media (max-width:61.31125em) {
  .hero__btns {
    margin-top: 1.25rem
  }
  .about-hero__item:nth-child(4) p {
    top: -2.1875rem;
    right: -3.125rem
  }
}
@media (max-width:56.31125em) {
  .questions__img {
    display: none
  }
  .questions__img img {
    max-width: 100%;
    height: auto
  }
}
@media (max-width:51.31125em) {
  .menu__logo {
    margin-bottom: 1.25rem
  }
  .hero__logo {
    display: block;
    max-width: 11.5rem;
    margin-bottom: 1.875rem
  }
}
@media (max-width:50.06125em) {
  .benefits__body {
    grid-template-columns: repeat(2,1fr)
  }
  .benefits__body p {
    grid-column: span 2
  }
}
@media (max-width:43.81125em) {
  .about__content {
    order: 2
  }
  .about__right {
    order: 1
  }
}
@media (max-width:37.56125em) {
  .prices__list {
    grid-template-columns: 1fr
  }
}
@media (max-width:30.06125em) {
  .menu__body::after,
  .wrapper::after {
    background-size: 6.25rem
  }
  .hero,
  .menu__body {
    background-image: url(../img/bg/hero-mb.webp)
  }
  .btn {
    border-radius: 1.0625rem
  }
  .btn {
    min-height: 3.75rem
  }
  .btn {
    font-size: 1rem
  }
  .title-main {
    font-size: 2rem
  }
  .title-main:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .menu__body {
    transition: clip-path .5s ease;
    background-image: url(../img/bg/hero-mb-2.webp)
  }
  .menu__container {
    padding-top: 6.875rem
  }
  .menu__container {
    padding-bottom: 1.25rem
  }
  .menu__container {
    row-gap: 3.125rem;
    justify-content: space-between
  }
  .menu-open .menu__address,
  .menu-open .menu__block {
    transition-delay: .3s
  }
  .lng {
    width: 3.75rem
  }
  .lng__btn,
  .lng__link {
    font-size: 1rem
  }
  .icon-menu,
  .lng__btn {
    width: 3.75rem
  }
  .footer__map iframe {
    aspect-ratio: 353/257
  }
  .footer__bottom {
    gap: 1.25rem
  }
  .hero__container {
    padding-top: 8.125rem
  }
  .hero__container {
    padding-bottom: 1.25rem
  }
  .hero__main {
    margin-bottom: 3.125rem
  }
  .hero__title {
    font-size: 2.375rem
  }
  .hero__subtitle {
    font-size: 1.25rem
  }
  .hero__subtitle:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .about-hero__body {
    gap: 2.5rem
  }
  .about-hero__item p {
    font-size: .8125rem
  }
  .about-hero__item p:before {
    width: 1.375rem
  }
  .about-hero__item:nth-child(1) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(2) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(3) p::before {
    top: .3125rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 1.125rem
  }
  .about-hero__img {
    border-radius: 1.0625rem
  }
  .about-hero__img {
    max-width: 7.5rem
  }
  .about-hero__ic {
    width: 5.25rem
  }
  .about-hero__ic img {
    max-width: 3.125rem
  }
  .expectations__item {
    grid-template-columns: 1fr 70%
  }
  .benefits__body:before {
    background-image: url(../img/bg/benefits-mb.webp);
    -webkit-transform: translate(-50%,-60%);
    transform: translate(-50%,-60%);
    width: 400%;
    height: 400%
  }
  .what:before {
    width: 110%;
    height: 200%;
    background-image: url(../img/bg/games-mb.webp)
  }
  .faq:before {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200%;
    height: 200%
  }
  .spollers__title span {
    width: 1.5625rem
  }
  .spollers__title span:after,
  .spollers__title span:before {
    width: 1.25rem
  }
  .about:before {
    background-image: url(../img/bg/about-mb.webp)
  }
  .testimonials__slider {
    overflow: visible!important
  }
  .slide-testim__body {
    grid-template-columns: 26% 1fr
  }
  .rating {
    font-size: 1rem
  }
  .questions:before {
    height: 220%;
    width: 250%;
    background-image: url(../img/bg/circle-bg.webp);
    -webkit-transform: translate(-50%,-50%) scaleX(-1);
    transform: translate(-50%,-50%) scaleX(-1)
  }
}
@media (max-width:23.81125em) {
  .header__link {
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .about-hero__item:nth-child(4) p {
    right: -5%
  }
}
@media (max-width:23.49875em) {
  .hero__title {
    font-size: 1.875rem!important
  }
  .about-hero__item:nth-child(1) p {
    left: -.3125rem
  }
  .about-hero__item:nth-child(3) p {
    left: -.3125rem
  }
}
@media (max-width:22.56125em) {
  .lng {
    width: 3.125rem!important
  }
  .icon-menu,
  .lng__btn {
    width: 3.125rem!important
  }
}
@media (max-width:21.93625em) {
  .what__list {
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr))
  }
}
@media (min-width:20em)and (max-width:82.5em) {
  .input {
    font-size: clamp(1rem ,.96rem + .2vw ,1.125rem)
  }
  textarea.input {
    min-height: clamp(8.125rem ,7.925rem + 1vw ,8.75rem)
  }
  .about__img,
  .slide-testim__body,
  .spollers__item {
    border-radius: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .about,
  .benefits,
  .expectations,
  .faq,
  .prices,
  .questions,
  .testimonials,
  .what {
    padding-bottom: clamp(6.25rem ,4.85rem + 7vw ,10.625rem)
  }
  .menu__item:not(:last-child) {
    margin-bottom: clamp(1.125rem ,.925rem + 1vw ,1.75rem)
  }
  .menu__link {
    font-size: clamp(2.125rem ,1.565rem + 2.8vw ,3.875rem)
  }
  .footer__head {
    padding-bottom: clamp(1.875rem ,1.575rem + 1.5vw ,2.8125rem)
  }
  .footer__bottom {
    padding-top: clamp(1.875rem ,1.675rem + 1vw ,2.5rem)
  }
  .footer__bottom {
    padding-bottom: clamp(1.875rem ,1.675rem + 1vw ,2.5rem)
  }
  .hero__btns {
    gap: clamp(.625rem ,.425rem + 1vw ,1.25rem)
  }
  .expectations__list {
    gap: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__item {
    gap: clamp(1.25rem ,.75rem + 2.5vw ,2.8125rem)
  }
  .expectations__item {
    padding-top: clamp(1.25rem ,1.15rem + .5vw ,1.5625rem)
  }
  .expectations__item {
    padding-bottom: clamp(1.25rem ,1.15rem + .5vw ,1.5625rem)
  }
  .expectations__item {
    padding-left: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__item {
    padding-right: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .expectations__body h3 {
    font-size: clamp(1.125rem ,1.085rem + .2vw ,1.25rem)
  }
  .expectations__body p {
    font-size: clamp(.875rem ,.795rem + .4vw ,1.125rem)
  }
  .benefits__body {
    gap: clamp(1rem ,.52rem + 2.4vw ,2.5rem)
  }
  .benefits__body p {
    font-size: clamp(1rem ,.92rem + .4vw ,1.25rem)
  }
  .what__list {
    gap: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .item-what__footer {
    padding-left: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer {
    padding-right: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer {
    padding-bottom: clamp(1.125rem ,.785rem + 1.7vw ,2.1875rem)
  }
  .item-what__footer h3 {
    font-size: clamp(1.25rem ,1.09rem + .8vw ,1.75rem)
  }
  .prices__list {
    gap: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .item-prices__title {
    font-size: clamp(1.25rem ,.97rem + 1.4vw ,2.125rem)
  }
  .item-prices__body {
    padding-right: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .item-prices__body {
    padding-left: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .item-prices__body {
    padding-top: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .item-prices__body {
    padding-bottom: clamp(1.125rem ,1.085rem + .2vw ,1.25rem)
  }
  .spollers__item {
    padding-left: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .spollers__item {
    padding-right: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .spollers__title {
    padding-top: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .spollers__title {
    padding-bottom: clamp(1.125rem ,.885rem + 1.2vw ,1.875rem)
  }
  .spollers__title {
    font-size: clamp(1rem ,.76rem + 1.2vw ,1.75rem)
  }
  .spollers__content {
    font-size: clamp(.875rem ,.755rem + .6vw ,1.25rem)
  }
  .spollers__content {
    padding-bottom: clamp(1.125rem ,.685rem + 2.2vw ,2.5rem)
  }
  .about__body {
    gap: clamp(1.25rem ,.85rem + 2vw ,2.5rem)
  }
  .about__content h3 {
    font-size: clamp(1.125rem ,1.085rem + .2vw ,1.25rem)
  }
  .about__content p {
    font-size: clamp(1rem ,.96rem + .2vw ,1.125rem)
  }
  .about__cards {
    gap: clamp(.875rem ,.755rem + .6vw ,1.25rem)
  }
  .slide-testim__body {
    padding: clamp(.875rem ,.555rem + 1.6vw ,1.875rem)
  }
  .slide-testim__body {
    gap: clamp(.875rem ,.755rem + .6vw ,1.25rem)
  }
  .slide-testim__content {
    row-gap: clamp(.875rem ,.755rem + .6vw ,1.25rem)
  }
  .questions__form {
    padding: clamp(1rem ,.52rem + 2.4vw ,2.5rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .btn {
    border-radius: clamp(1.0625rem ,.9685585938rem + .3125vw ,1.25rem)
  }
  .btn {
    min-height: clamp(3.75rem ,3.4368619792rem + 1.0416666667vw ,4.375rem)
  }
  .btn {
    font-size: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .title-main {
    font-size: clamp(2rem ,1.0605859375rem + 3.125vw ,3.875rem)
  }
  .title-main:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.7796549479rem + 2.6041666667vw ,3.125rem)
  }
  .menu__container {
    padding-top: clamp(6.875rem ,5.6224479167rem + 4.1666666667vw ,9.375rem)
  }
  .menu__container {
    padding-bottom: clamp(1.25rem ,-.0025520833rem + 4.1666666667vw ,3.75rem)
  }
  .lng__btn,
  .lng__link {
    font-size: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .hero__container {
    padding-top: clamp(8.125rem ,4.9936197917rem + 10.4166666667vw ,14.375rem)
  }
  .hero__container {
    padding-bottom: clamp(1.25rem ,-.3156901042rem + 5.2083333333vw ,4.375rem)
  }
  .hero__title {
    font-size: clamp(2.375rem ,1.3103307292rem + 3.5416666667vw ,4.5rem)
  }
  .hero__subtitle {
    font-size: clamp(1.25rem ,.9994895833rem + .8333333333vw ,1.75rem)
  }
  .about-hero__body {
    gap: clamp(2.5rem ,1.8737239583rem + 2.0833333333vw ,3.75rem)
  }
  .about-hero__item p {
    font-size: clamp(.8125rem ,.5933033854rem + .7291666667vw ,1.25rem)
  }
  .about-hero__item p:before {
    width: clamp(1.375rem ,.999234375rem + 1.25vw ,2.125rem)
  }
  .about-hero__img {
    border-radius: clamp(1.0625rem ,.9059309896rem + .5208333333vw ,1.375rem)
  }
  .about-hero__img {
    max-width: clamp(7.5rem ,5.3706614583rem + 7.0833333333vw ,11.75rem)
  }
  .about-hero__ic {
    width: clamp(5.25rem ,3.8095651042rem + 4.7916666667vw ,8.125rem)
  }
  .about-hero__ic img {
    max-width: clamp(3.125rem ,2.3421549479rem + 2.6041666667vw ,4.6875rem)
  }
}
@media (min-width:64.06125em)and (max-width:90.06125em) {
  .header {
    top: clamp(2.5rem ,-.5798677885rem + 4.8076923077vw ,3.75rem)
  }
}
@media (min-width:30.06125em)and (max-width:90em) {
  .lng {
    width: clamp(3.75rem ,3.4365419908rem + 1.0427311214vw ,4.375rem)
  }
  .icon-menu,
  .lng__btn {
    width: clamp(3.75rem ,3.4365419908rem + 1.0427311214vw ,4.375rem)
  }
}
@media (max-width:61.31125em)and (min-width:30.06125em) {
  .hero__main {
    margin-bottom: 3.75rem
  }
  .about-hero__item:nth-child(1) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(2) p::before {
    top: 1.25rem
  }
  .about-hero__item:nth-child(3) p::before {
    top: .625rem
  }
  .about-hero__item:nth-child(4) p::before {
    top: 1.875rem
  }
}
@media (min-width:20em)and (max-width:30.06125em) {
  .hero__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.0076096409rem + 6.2119517953vw ,1.875rem)
  }
}
@media (min-width:30.06125em)and (max-width:120.06125em) {
  .hero__subtitle:not(:last-child) {
    margin-bottom: clamp(1.875rem ,-.4213454861rem + 7.6388888889vw ,8.75rem)
  }
}
@media (max-width:61.31125em)and (min-width:37.56125em) {
  .hero__subtitle {
    max-width: 60%
  }
}
@media (max-width:71.31125em)and (min-width:61.31125em) {
  .about-hero__item:nth-child(4) p {
    top: -2.5rem;
    right: 0
  }
}
@media (max-width:51.31125em)and (min-width:37.56125em) {
  .prices__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (any-hover:hover) {
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(221,255,124,.5)
  }
  .btn_one:hover {
    background-color: rgba(255,255,255,.2);
    color: #ddff7c
  }
  .btn_two:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .btn_three:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .header__tel:hover,
  .menu__contact:hover {
    color: #ddff7c
  }
  .menu__link:hover {
    color: #ddff7c
  }
  .social__link:hover svg path {
    fill: #fff
  }
  .lng__link:hover {
    background: rgba(255,255,255,.8);
    color: #00074b
  }
  .icon-menu:hover,
  .lng__btn:hover {
    background-color: #ddff7c;
    color: #00074b
  }
  .icon-menu:hover .icon-menu__item span,
  .icon-menu:hover .icon-menu__item::after,
  .icon-menu:hover .icon-menu__item::before,
  .lng__btn:hover .icon-menu__item span,
  .lng__btn:hover .icon-menu__item::after,
  .lng__btn:hover .icon-menu__item::before {
    background-color: #00074b
  }
  .footer__policy:hover {
    opacity: 1
  }
  .item-what__slider .swiper-button-next:hover,
  .item-what__slider .swiper-button-prev:hover,
  .testimonials__body .swiper-button-next:hover,
  .testimonials__body .swiper-button-prev:hover {
    background-color: rgba(255,255,255,.4)
  }
}
@media (any-hover:none) {
  .icon-menu__item {
    cursor: default
  }
}