.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  @include adaptiveValue("top", 60, 40,0,1440.98,1024.98);
  &._header-scroll {
    @media (min-width:toEm(1024.98)){
      top: toRem(20);
    }
    &:before {
      opacity: 1;
    }
  }
  @media (max-width: toEm(1024.98)){
      top: toRem(20) !important;
  }
  @media (min-width:$mobileSmall){
    transition: top .65s ease;
  }
  &:before {
    content:'';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    height: calc(100% + 40px);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background: rgba(0, 8, 82, 0.4);
    opacity: 0;
    transition: opacity .3s ease;
  }
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .header__menu
  &__menu {
  }
	// .header__right
	&__right {
    position: relative;
    z-index: 5;
    @media (min-width:toEm(1024.98)){
      display: flex;
      align-items: center;
    }
	}
  // .header__tel
  &__tel {
    @extend %contactsHeader;
    @media (min-width:toEm(1024.98)){
      flex: 0 0 auto;
      font-size: toRem(20);
      &::before {
          background-image: url(../img/icons/phone.svg);
      }
      &:not(:last-child) {
        margin-right: toRem(50);
      }
    }
    @media (max-width: toEm(1024.98)){
        display: none !important;
    }
  }
  // .header__link
  &__link {
    @media (min-width:toEm(600.98)){
      min-width: toRem(260);
    }
    @media (min-width:toEm(380.98)){
      padding-left: toRem(35);
      padding-right: toRem(35);
    }
    @media (max-width: toEm(380.98)){
      padding-left: toRem(15);
      padding-right: toRem(15);
    }
  }
}

%contactsHeader {
  display: flex;
  align-items: center;
  gap: toRem(4);
  transition: color .3s ease;
  &::before {
    content: '';
    // background-image: url(../img/icons/phone.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width: toRem(30);
    height: toRem(30);
  }
  @media (any-hover: hover){
    &:hover{
      color: $green;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  // .menu__icon
  &__icon {
    &:not(:last-child) {
      margin-right: toRem(10);
    }
  }
  // .menu__lng
  &__lng {
  }
  // .menu__logo
  &__logo {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width:toEm(820.98)){
      margin-left: toRem(50);
      max-width: toRem(202);
      z-index: 5;
    }
    @media (max-width: toEm(820.98)){
      margin-bottom: toRem(20);
    }
  }
  // .menu__body
  &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      background-color:$dark2;

      // display: grid;

      pointer-events: none;
      clip-path: circle(0% at 0 0);
      opacity: 0;
      @extend %bgHeroHeaderMenu;
      @extend %bgGeneral;
      &::after {
        position: fixed;
      }
      @media (min-width:$mobileSmall){
        transition: clip-path .65s ease, opacity 0s 0.65s;
        align-items: end;
        background-image: url(../img/bg/hero-pc-2.png);
      }
      @media (max-width:$mobileSmall){
        transition: clip-path .5s ease, opacity 0s 0.5s;
        background-image: url(../img/bg/hero-mb-2.png);  
      }
      .menu-open & {
        opacity: 1;
        pointer-events: all;
        clip-path: circle(150% at 0 0);
        @media (min-width:$mobileSmall){
          transition: clip-path .65s ease, opacity 0s 0s;
        }
        @media (max-width:$mobileSmall){
          transition: clip-path .5s ease, opacity 0s 0s;
        }
      }
    }
    // .menu__container
    &__container {
      min-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("padding-top", 150, 110,0,1440.98,480.98);
      @include adaptiveValue("padding-bottom", 60, 20,0,1440.98,480.98);
      @media (min-width:$mobileSmall){
        row-gap: toRem(90);
      }
      @media (max-width:$mobileSmall){
         row-gap: toRem(50); 
         justify-content: space-between;
      }
	}
  // .menu__list
  &__list {
    @media (min-width:$mobileSmall){
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  // .menu__item
  &__item {
    overflow: hidden;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 18);
    }
    &:nth-child(1) {
      .menu__link {
        .menu-open & {
          transition: color .3s ease, transform .4s ease 0.3s;
          // @media (min-width:$mobileSmall){
          // }
          // @media (max-width:$mobileSmall){
          //   transition: color .3s ease, transform .4s ease 0.1s;
          // }
        }
      }
    }
    &:nth-child(2) {
      .menu__link {
        .menu-open & {
          transition: color .3s ease, transform .4s ease 0.35s;
          // @media (min-width:$mobileSmall){
          // }
          // @media (max-width:$mobileSmall){
          //   transition: color .3s ease, transform .4s ease 0.15s;
          // }
        }
      }
    }
    &:nth-child(3) {
      .menu__link {
        .menu-open & {
          transition: color .3s ease, transform .4s ease 0.4s;
          //  @media (min-width:$mobileSmall){
          // }
          // @media (max-width:$mobileSmall){
          //   transition: color .3s ease, transform .4s ease 0.2s;
          // }
        }
      }
    }
    &:nth-child(4) {
      .menu__link {
        .menu-open & {
          transition: color .3s ease, transform .4s ease 0.45s;
          // @media (min-width:$mobileSmall){
          // }
          // @media (max-width:$mobileSmall){
          //   transition: color .3s ease, transform .4s ease 0.25s;
          // }
        }
      }
    }
    &:nth-child(5) {
      .menu__link {
        .menu-open & {
          transition: color .3s ease, transform .4s ease 0.5s;
          // @media (min-width:$mobileSmall){
          // }
          // @media (max-width:$mobileSmall){
          //   transition: color .3s ease, transform .4s ease 0.3s;
          // }
        }
      }
    }
  }
  // .menu__link
  &__link {
    font-weight: 800;
    transition: color .3s ease, transform 0s ease .5s;
    transform: translateY(100%);
    @include adaptiveValue("font-size", 62, 34);
    .menu-open & {
      transform: translateY(0%);
      transition: color .3s ease, transform .4s ease 0s;
    }
    @media (any-hover: hover){
      &:hover{
        color: $green;
      }
    }
  }

	// .menu__footer
	&__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	}
  &__block,
  &__address {
    opacity: 0;
    transition: opacity .45s ease 0s;
    .menu-open & {
      opacity: 1;
      @media (min-width:$mobileSmall){
        transition-delay: 0.5s;
      }
      @media (max-width:$mobileSmall){
        transition-delay: 0.3s;
      }
    }
  }
	// .menu__block
	&__block {
    max-width: toRem(317);
    
	}
	// .menu__social
	&__social {
	}
	// .menu__address
	&__address {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(10) toRem(50);
	}
	// .menu__contact
	&__contact {
    @extend %contactsHeader;
    &.tel {
      &::before {
        background-image: url(../img/icons/phone.svg);
      }
    }
    &.loc {
      &::before {
        background-image: url(../img/icons/loc-2.svg);
      }
    }
	}
    
}
  
.social {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: toRem(20);
  p {
    font-size: toRem(18);
    font-weight: 500;
    color: $blue;
  }
    // .social__link
    &__link {
      display: grid;
      place-items: center;
      width: toRem(36);
      aspect-ratio: 1/1;
      svg {
        path {
          transition: fill .3s ease;
        }
      }
      @media (any-hover: hover){
        &:hover{
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
}


.lng {
  position: relative;
  @include adaptiveValue("width", 70, 60,0,1440,480.98);
  &._show {}
  @media (max-width: toEm(360.98)){
      width: toRem(50) !important;
  }
  &__btn,
  &__link {
    @include adaptiveValue("font-size", 20, 16,0,1440.98,480.98);
  }
  // .lng__btn
  &__btn {
    font-weight: 500;
    @extend %buttonHeaderQ;
    ._show & {
      background-color:#fff;
      color: $dark;
    }
  }
	// .lng__list
	&__list {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    padding-top: 100%;
    width: 100%;
    border-radius: toRem(12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    
    opacity: 0;
    pointer-events: none;
    transition: opacity .65s ease 0s;
    ._show & {
      opacity: 1;
      pointer-events: all;
    }
	}
	// .lng__item
	&__item {
    opacity: 0;
    transition: transform .3s ease, opacity .45s ease;
    transform: translateY(-100%);
    &:last-child {
      .lng__link {
        // border-bottom-left-radius: toRem(12);
        border-bottom-right-radius: toRem(12);
      }
    }
    ._show & {
      opacity: 1;
      transform: translateY(0);
      &:nth-child(1) {
          transition-delay: 0.0s;
      }
      &:nth-child(2) {
          transition-delay: 0.1s;
      }
      &:nth-child(3) {
          transition-delay: 0.2s;
      }
      &:nth-child(4) {
          transition-delay: 0.3s;
      }
      &:nth-child(5) {
          transition-delay: 0.4s;
      }
      &:nth-child(6) {
          transition-delay: 0.5s;
      }
    }
	}
	// .lng__link
	&__link {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: toRem(12);
    // backdrop-filter: blur(20px);
    // -webkit-backdrop-filter: blur(20px);
    // background: rgba(255, 255, 255, 0.2);
    transition: background-color .3s ease, color .3s ease;
    @media (any-hover: hover){
      &:hover{
        background: rgba(255, 255, 255, 0.8);
        color: $dark;
      }
    }
	}
}

%buttonHeaderQ {
  z-index: 5;
  position: relative;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: toRem(12);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background-color .3s ease, color .3s ease;
  @media (any-hover: hover){
    &:hover{
      background-color:#fff;
      color: $dark;
      .icon-menu__item {
        span,
        &::before,
        &::after {
          background-color: $dark;
        }
      }
    }
  }
  @include adaptiveValue("width", 70, 60,0,1440,480.98);
  @media (max-width: toEm(360.98)){
      width: toRem(50) !important;
  }
}

//Burger Icon
.icon-menu {
  @extend %buttonHeaderQ;
  .menu-open & {
    background-color:#fff;
      color: $dark;
      .icon-menu__item {
        span,
        &::before,
        &::after {
          background-color: $dark;
        }
      }
  }
		// .icon-menu__item
		&__item {
      // display: none;
      // @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: toRem(28);
        height: toRem(21);
        z-index: 5;
        @media (any-hover: none) {
          cursor: default;
        }
        span,
        &::before,
        &::after {
          content: "";
          transition: all 0.3s ease 0s;
          right: 0;
          position: absolute;
          width: 100%;
          height: toRem(3);
          background-color: $green;
          border-radius: toRem(4);
          // will-change: transform;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        span {
          width: 65%;
          right: unset;
          left: 0;
          top: calc(50% - toRem(1.5));
        }
        .menu-open & {
          span {
            width: 0;
          }
          &::before,
          &::after {
          }
          &::before {
            top: calc(50% - toRem(1.5));
            transform: rotate(45deg);
          }
          &::after {
            bottom: calc(50% - toRem(1.5));
            transform: rotate(-45deg);
          }
        }
      // }
    }

}
