.hero {
  padding-bottom: toRem(80);
  @extend %bgHeroHeaderMenu;
  // .hero__container
  &__container {
    display: grid;
    gap: toRem(20);
    @include adaptiveValue("padding-top", 230, 130,0,1440.98,480.98);
    @include adaptiveValue("padding-bottom", 70, 20,0,1440.98,480.98);
    @media (min-width:toEm(980.98)){
      grid-template-columns: 54% 1fr;
    }
  }
	// .hero__main
	&__main {
    @media (max-width: toEm(980.98)) and (min-width:$mobileSmall) {
        margin-bottom: toRem(60);
    }
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(50); 
    }
	}
	// .hero__logo
	&__logo {
    @media (min-width:toEm(820.98)){
       display: none; 
    }
    @media (max-width:toEm(820.98)){
      display: block;
      max-width: toRem(184);
      margin-bottom: toRem(30);
    }
	}
	// .hero__title
	&__title {
    font-weight: 800;
    line-height: 1.05;
    @include adaptiveValue("font-size", 72, 38,0,1440.98,480.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20,1400.98,480.98);
    }
    span {
      @media (min-width:$mobileSmall){
        color: $green;
      }
    }
    @media (max-width: toEm(375.98)){
        font-size: toRem(30) !important;
    }
	}
	// .hero__subtitle
	&__subtitle {
    font-weight: 500;
    line-height: 1.1;
    @include adaptiveValue("font-size", 28, 20,0,1440.98,480.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 140, 30,0,1920.98,480.98);
    }
    @media (max-width: toEm(980.98)) and (min-width: toEm(600.98)) {
        max-width: 60%;
    }
	}
	// .hero__btns
	&__btns {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
    @media (min-width:toEm(980.98)){
      max-width: 80%;
    }
    @media (max-width: toEm(980.98)){
      margin-top: toRem(20);
    }
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 1fr;
    }
	}
	// .hero__link
	&__link {
	}
	// .hero__about
	&__about {
	}
}

.about-hero {
  display: grid;
  place-items: center;
  // .about-hero__body
	&__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: min-content;
    @include adaptiveValue("gap", 60, 40,0,1440.98,480.98);
    @extend %sectionsBgBefore;
    @media (min-width:$mobileSmall){
      &:before {
        background-image:url(../img/bg/about-hero-bg.png);
        width: 200%;
        height: 200%;
        opacity: 0.8;
      }
    }
	}
  // .about-hero__item
  &__item {
    position: relative;
    p {
      position: absolute;
      z-index: 3;
      text-align: center;
      @include adaptiveValue("font-size", 20, 13,0,1440.98,480.98);
      &:before {
        content:"";
        position: absolute;
        background-image:url(../img/icons/spiral.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: toRem(65);
        @include adaptiveValue("width", 34, 22,0,1440.98,480.98);
      }
    }
    &:nth-child(1) {
      p {
        top: toRem(-30);
        @media (min-width:toEm(375.98)){
          left: toRem(-20);
        }
        @media (max-width: toEm(375.98)){
            left: toRem(-5);
        }
        &::before {
          left: 10px;
          transform: scaleX(-1) rotate(15deg);
          @media (min-width:toEm(980.98)){
            top: 25px;
          }
          @media (max-width: toEm(980.98)) and (min-width:$mobileSmall) {
              top: toRem(20);
          }
          @media (max-width:$mobileSmall){
             top: toRem(5); 
          }
        }
      }
      .about-hero__img {
        transform: rotate(-4.36deg);
      }
    }
    &:nth-child(2) {
      p {
        top: toRem(-35);
        right: 0;
        &::before {
          right: toRem(10);
          @media (min-width:toEm(980.98)){
            top: 25px;
          }
          @media (max-width: toEm(980.98)) and (min-width:$mobileSmall) {
            top: toRem(20);
          }
          @media (max-width:$mobileSmall){
             top: toRem(5); 
          }
        }
      }
      .about-hero__img {
        transform: rotate(5.64deg);
      }
    }
    &:nth-child(3) {
      p {
        top: toRem(-30);
        @media (min-width:toEm(375.98)){
          left: toRem(-40);
        }
        @media (max-width: toEm(375.98)){
          left: toRem(-5);
        }
        &::before {
          left: toRem(25);
          transform: scaleX(-1) rotate(45deg);
          @media (min-width:toEm(980.98)){
            top: toRem(20);
          }
          @media (max-width: toEm(980.98)) and (min-width:$mobileSmall) {
            top: toRem(10);
          }
          @media (max-width:$mobileSmall){
             top: toRem(5); 
          }
        }
      }
      .about-hero__img {
        transform: rotate(-5.64deg);
      }
    }
    &:nth-child(4) {
      p {
        width: min-content;
        @media (min-width:toEm(1140.98)){
          top: toRem(-50);
          right: toRem(-60);
        }
        @media (max-width:toEm(1140.98)) and (min-width: toEm(980.98)) {
          top: toRem(-40);
          right: toRem(0);
        }
        @media (max-width: toEm(980.98)) {
          top: toRem(-35);
          right: toRem(-50);
        }
        @media (max-width: toEm(380.98)){
            right: -5%;
        }
        &::before {
          right: toRem(25);
          transform: rotate(15deg);
          @media (min-width:toEm(980.98)){
            top: toRem(45);
          }
          @media (max-width: toEm(980.98)) and (min-width: $mobileSmall) {
            top: toRem(30);
          }
          @media (max-width:$mobileSmall){
             top: toRem(18); 
          }
        }
      }
      .about-hero__img {
        transform: rotate(5.38deg);
      }
    }
  }
  // .about-hero__img
  &__img {
    aspect-ratio: 1;
    overflow: hidden;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 5px 5px 20px 0 rgba(221, 255, 124, 0.2);
    border: toRem(1) solid $green;
    @include adaptiveValue("border-radius", 22,17,0,1440.98,480.98);
    @include adaptiveValue("max-width", 188,120,0,1440.98,480.98);
  }
  // .about-hero__ic
  &__ic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 5px 5px 20px 0 rgba(221, 255, 124, 0.2);
    background-color: rgba(255, 255, 255, 0.01);
    border: toRem(1) solid $green;
    @include adaptiveValue("width", 130,84,0,1440.98,480.98);
    img {
      width: 100%;
      height: auto;
      @include adaptiveValue("max-width", 75,50,0,1440.98,480.98);
    }
  }
}



// ==== EXPECTATIONS SECTION ===========================================
.expectations {
  @extend %paddingSects;
	// .expectations__container
	&__container {
	}
	// .expectations__title
	&__title {
	}
	// .expectations__list
	&__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptiveValue("gap", 40,20 );
    @extend %sectionsBgBefore;
    &:before {
      background-image:url(../img/bg/expect-bg.svg);
      width: 350%;
      height: 350%;
    }
	}
	// .expectations__item
	&__item {
    width: 100%;
    max-width: toRem(460);
    aspect-ratio: 465/185;
    border-radius: toRem(30);
    border: toRem(1) solid $green;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(135deg, #00109c -19%, #000852 100%);
    display: grid;
    align-items: center;
    @include adaptiveValue("gap", 45, 20);
    @include adaptiveValue("padding-top", 25, 20);
    @include adaptiveValue("padding-bottom", 25, 20);
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 58%;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 1fr 70%; 
    }
	}
	// .expectations__img
	&__img {
    img {
      max-width: 100%;
      height: auto;
    }
	}
	// .expectations__body
	&__body {
    line-height: 1.1;
    h3 {
      font-weight: 700;
      margin-bottom: toRem(10);
      @include adaptiveValue("font-size", 20, 18);
    }
    p {
      color: rgba(255, 255, 255, 0.75);
      @include adaptiveValue("font-size", 18, 14);
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
	}
}


// ==== BENEFITS SECTION ===========================================
.benefits {
  @extend %paddingSects;
  // .benefits__container
  &__container {
  }
  // .benefits__title
  &__title {
    @media (min-width:$mobile){
       max-width: toRem(810); 
       margin-inline: auto;
    }
  }
  // .benefits__body
  &__body {
    position: relative;
    display: grid;
    @include adaptiveValue("gap", 40, 16);
    @media (min-width:toEm(800.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:toEm(800.98)){
      grid-template-columns: repeat(2,1fr);
    }
    p {
      line-height: 1.1;
      text-align: center;
      opacity: .75;
      @include adaptiveValue("font-size", 20, 16);
      @media (min-width:toEm(800.98)){
        grid-column: 2/4;
      }
      @media (max-width:toEm(800.98)){
        grid-column: span 2;
      }
    }
    @extend %sectionsBgBefore;
    &:before {
      @media (min-width:$mobileSmall){
        background-image:url(../img/bg/benefits-pc.png);
        transform: translate(-50%, -50%);
        width: 200%;
        height: 350%;
      }
      @media (max-width:$mobileSmall){
        background-image:url(../img/bg/benefits-mb.png);
        transform: translate(-50%, -60%);
        width: 400%;
        height: 400%;
      }
    }
  }
  // .benefits__img
  &__img {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: toRem(30);
    overflow: hidden;
    border: toRem(1) solid $green;
    aspect-ratio: 1;
    img {
      aspect-ratio: 1;
    }

    &:nth-child(2) {
      @media (min-width:toEm(800.98)){
        grid-column: 1/2;
        grid-row: 1/3;
      }
    }
    &:nth-child(3) {
      
    }
    &:nth-child(4) {
      
    }
    &:nth-child(5) {
      @media (min-width:toEm(800.98)){
        grid-column: 4/5;
        grid-row: 1/3;
      }
    }
  }
}


// ==== WHAT SECTION ===========================================
.what {
  position: relative;
  z-index: 1;
  @extend %paddingSects;
  @extend %sectionsBgBefore;
  &:before {
    @media (min-width:$mobileSmall){
      width: 150%;
      height: 270%;
      transform: translate(-50%, -45%);
      background-image:url(../img/bg/games-pc.png);
    }
    @media (max-width:$mobileSmall){
      width: 110%;
      height: 200%;
      background-image:url(../img/bg/games-mb.png);
    }
  }
  // .what__container
  &__container {
  }
  // .what__title
  &__title {
    @media (min-width:$mobile){
      max-width: toRem(610); 
      margin-inline: auto;
   }
  }
  // .what__list
  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @include adaptiveValue("gap", 40, 18);
    @media (max-width: toEm(350.98)){
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
    }
  }
  // .what__item
  &__item {
  }
}


%swiperButton {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: toRem(50);
  height: toRem(50);
  border-radius: toRem(6);
  transition: background-color .3s ease;
  &::before {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%);
    background-image: url(../img/icons/arr-slider.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    width: 80%;
    height: 70%;
  }
  @media (any-hover: hover){
    &:hover{
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.item-what {
  padding-top: toRem(40);
  display: flex;
  flex-direction: column;
  @extend %cardWrapperBody;
  // .item-what__slider
  &__slider {
    // flex: 1;
    position: relative;
    overflow: visible !important;
    &.what-slider-1 {
    }
    &.what-slider-2 {
    }
    &.what-slider-3 {
    }

    .swiper-button-next,
    .swiper-button-prev {
      @extend %swiperButton;
    }
    .swiper-button-prev {
      left: toRem(15);
    }
    .swiper-button-next {
      right: toRem(15);
      &::before {
        transform: translate(-45%,-50%) scaleX(-1);
      }
    }
  }
  // .item-what__wrapper
  &__wrapper {
  }
  // .item-what__slide
  &__slide {
    // transition: opacity .3s ease;
    // padding: toRem(20);
    display: grid;
    place-items: center;
    
    // &.swiper-slide-active {
    //   opacity: 1;
    // }
  }
  // .item-what__slide-w
  &__slide-w {
    opacity: .4;
    border-radius: toRem(14);
    border: toRem(2) solid $green;
    transition: opacity .3s ease;
    overflow: hidden;
    box-shadow: 0 5px 25px 7px rgba(210, 255, 83, 0.25);
    .swiper-slide-active & {
      opacity: 1;
    }
    img {
      aspect-ratio: 185/276;
    }
  }
  // .item-what__footer
  &__footer {
    text-align: center;
    line-height: 1.1;
    padding-top: toRem(25);
    @include adaptiveValue("padding-left", 35,18);
    @include adaptiveValue("padding-right", 35,18);
    @include adaptiveValue("padding-bottom", 35,18);
    h3 {
      font-weight: 700;
      margin-bottom: toRem(10);
      @include adaptiveValue("font-size", 28, 20);
    }
    p {
      opacity: .75;
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
      @media (min-width:$mobileSmall){
         flex: 1; 
      }
    }
    @media (min-width:$mobileSmall){
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  // .item-what__btn
  &__btn {
    margin-top: toRem(20);
  }
}



// ==== PRICES SECTION ===========================================
.prices {
  @extend %paddingSects;
  // .prices__container
  &__container {
  }
  // .prices__title
  &__title {
  }
  // .prices__list
  &__list {
    // display: grid;
    // @include adaptiveValue("gap", 40, 18);
    // @media (min-width:toEm(820.98)){
    //   grid-template-columns: repeat(3,1fr);
    // }
    // @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
    //   grid-template-columns: repeat(2,1fr);
    // }
    // @media (max-width: toEm(600.98)){
    //   grid-template-columns: 1fr; 
    // }
    @extend %cardsGridThree;
  }
  // .prices__item
  &__item {
  }
}

%cardsGridThree {
  display: grid;
  @include adaptiveValue("gap", 40, 18);
  @media (min-width:toEm(820.98)){
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
    grid-template-columns: repeat(2,1fr);
  }
  @media (max-width: toEm(600.98)){
    grid-template-columns: 1fr; 
  }
}

.item-prices {
  height: min-content;
  padding-top: toRem(20);
  @extend %cardWrapperBody;
  // .item-prices__title
  &__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: toRem(20);
    line-height: 1.1;
    @include adaptiveValue("font-size", 34, 20);
    span {
      color: $green;
    }
  }
  // .item-prices__img
  &__img {
    border-top: toRem(2) solid $green;
    border-bottom: toRem(2) solid $green;
    img {
      aspect-ratio: 353/177;
    }
  }
  // .item-prices__body
  &__body {
    @include adaptiveValue("padding-right", 30,18);
    @include adaptiveValue("padding-left", 30,18);
    @include adaptiveValue("padding-top", 30,18);
    @include adaptiveValue("padding-bottom", 20,18);
  }
  // .item-prices__list
  &__list {
    p {
      line-height: 1.1;
      color:rgba(255, 255, 255, 0.75);
      padding-left: toRem(18);
      position: relative;
      &:not(:last-child) {
        margin-bottom: toRem(8);
      }
      &::before {
        content:'';
        position: absolute;
        top: 3px;
        left: 0;
        width: toRem(8);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color:#5B88FE;
      }
    }
  }
  // .item-prices__subtitle
  &__subtitle {
    margin: toRem(20) 0 toRem(10);
    color: #D7FF65;
    font-weight: 700;
    line-height: 1.1;
  }
  // .item-prices__link
  &__link {
    margin: toRem(20) 0 toRem(10);
  }
  // .item-prices__btn
  &__btn {
    width: 100%;
    height: toRem(40);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(10);
    &::after {
      content:url(../img/icons/arr-dwn-sm.svg);
      transition: transform .3s ease;
      transform-origin: 50% 50%;
    }
    ._showmore-active & {
      &::after {
        transform: scaleY(-1);
      }
    }
    span {
      &:last-child {
        display: none;
      }
      ._showmore-active & {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
}



// ==== FAQ SECTION ===========================================
.faq {
  position: relative;
  @extend %paddingSects;
  @extend %sectionsBgBefore;
  &:before {
    background-image:url(../img/bg/faq-bg.png);
    @media (min-width:$mobileSmall){
      transform: translate(-50%, -60%);
      width: 130%;
      height: 130%;
    }
    @media (max-width:$mobileSmall){
      transform: translate(-50%, -50%);
      width: 200%;
      height: 200%;
    }
  }
  // .faq__container
  &__container {
  }
  // .faq__title
  &__title {
  }
}

.spollers {
  @extend %maxWidthWrapper1024;
  // .spollers__item
  &__item {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.26);
    @extend %borRadius30-20;
    @include adaptiveValue("padding-left", 40, 18);
    @include adaptiveValue("padding-right", 40, 18);
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .spollers__title
  &__title {
    font-weight: 700;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: toRem(15);
    align-items: center;
    cursor: pointer;
    @include adaptiveValue("padding-top", 30, 18);
    @include adaptiveValue("padding-bottom", 30, 18);
    &._spoller-active  {
      span {
        &::before {
            transform: translate(-50%,-29%) rotate(180deg);
        }
        &::after {
          opacity: 1;
            transform: translate(-50%,-71%) scaleY(-1) rotate(-180deg);
        }
      }
    }
    span {
      flex: 0;
      position: relative;
      display: block;
      aspect-ratio: 1/1;
      @media (min-width:$mobileSmall){
        width: toRem(38);
      }
      @media (max-width:$mobileSmall){
        width: toRem(25);
      }
      &:before,
      &:after {
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        aspect-ratio: 1/1;
        background-image:url(../img/icons/arr-dwn.svg);
        transition: transform .3s ease, opacity .3s ease;
        transform-origin: 50% 50%;
        @media (min-width:$mobileSmall){
          width: toRem(30);
        }
        @media (max-width:$mobileSmall){
          width: toRem(20);            
        }
      }
      &:before {
        transform: translate(-50%,-50%);
      }
      &::after {
        opacity: 0;
        transform: translate(-50%,-50%) scaleY(-1);
      }
    }
    @include adaptiveValue("font-size", 28, 16);
  }
  // .spollers__body
  &__body {
  }
  // .spollers__content
  &__content {
    line-height: 1.1;
    opacity: .5;
    @include adaptiveValue("font-size", 20, 14);
    @include adaptiveValue("padding-bottom", 40, 18);
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
}


// ==== ABOUT SECTION ===========================================
.about {
  position: relative;
  @extend %paddingSects;
  @extend %sectionsBgBefore;
  &:before {
    width: 200%;
    height: 200%;
    @media (min-width:$mobileSmall){
      background-image:url(../img/bg/about-pc.png);
    }
    @media (max-width:$mobileSmall){
      background-image:url(../img/bg/about-mb.png);
    }
  }
  // .about__container
  &__container {
  }
  // .about__title
  &__title {
  }
  // .about__body
  &__body {
    display: grid;
    @include adaptiveValue("gap", 40, 20);
    @extend %maxWidthWrapper1024;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 1fr 1fr;
    }
  }
  // .about__content
  &__content {
    line-height: 1.2;
    h3, p {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
    h3 {
      font-weight: 700;
      color: #D7FF65;
      @include adaptiveValue("font-size", 20, 18);
    }
    p {
      opacity: .75;
      @include adaptiveValue("font-size", 18, 16);
    }
    @media (max-width: toEm(700.98)){
      order: 2;
    }
  }
  // .about__btn
  &__btn {
    @media (min-width:toEm(700.98)){
        max-width: toRem(320);
    }
  }
	// .about__right
	&__right {
    @media (max-width: toEm(700.98)){
      order: 1;
    }
	}
  // .about__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    @include adaptiveValue("gap", 20, 14);
  }
  // .about__img
  &__img {
    border: toRem(2) solid $green;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    @extend %borRadius30-20;
    &:nth-child(1),
    &:nth-child(4) {
      img {
        aspect-ratio: 200/231;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      img {
        aspect-ratio: 290/231;
      }
    }
    &:nth-child(1) {
      grid-column: 1/3;
    }
    &:nth-child(2) {
      grid-column: 3/6;
    }
    &:nth-child(3) {
      grid-column: 1/4;
    }
    &:nth-child(4) {
      grid-column: 4/6;
    }
  }
}


// ==== TESTIMONIALS SECTION ===========================================
.testimonials {
  position: relative;
  @extend %paddingSects;
  // .testimonials__container
  &__container {
  }
  // .testimonials__title
  &__title {
  }
  // .testimonials__body
  &__body {
    position: relative;
    // overflow: hidden;
    .swiper-button-prev,
    .swiper-button-next  {
      z-index: 5;
      @extend %swiperButton;
      @media (max-width: toEm(1250.98)){
        position: relative;
        top: unset;
        transform: unset;
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: toRem(15);
      }
    }
    .swiper-button-prev {
      @media (min-width:toEm(1250.98)){
        left: toRem(15);
      }
    }
    .swiper-button-next {
      @media (min-width:toEm(1250.98)){
        right: toRem(15);
      }
      &::before {
        transform: translate(-45%,-50%) scaleX(-1);
      }
    }
  }
  // .testimonials__slider
  &__slider {
    @extend %maxWidthWrapper1024;
    @media (max-width:$mobileSmall){
       overflow: visible !important; 
    }
  }
  // .testimonials__wrapper
  &__wrapper {
  }
  // .testimonials__slide
  &__slide {
  }
}

.slide-testim {
  // .slide-testim__body
  &__body {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.26);
    border: toRem(2) solid $green;

    display: grid;
    @include adaptiveValue("padding", 30, 14);
    @include adaptiveValue("gap", 20, 14);
    @extend %borRadius30-20;
    @media (min-width:$mobileSmall){
      grid-template-columns: 37% 1fr;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 26% 1fr;
    }
  }
  // .slide-testim__img
  &__img {
    aspect-ratio: 1/1;
    img {
      border-radius: toRem(15);
    }
  }
  // .slide-testim__content
  &__content {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    @include adaptiveValue("row-gap", 20, 14);
  }
  // .slide-testim__rating
  &__rating {
  }
  // .slide-testim__txt
  &__txt {
    flex: 1;
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  // .slide-testim__name
  &__name {
    opacity: .3;
  }
}

.rating {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  @media (min-width:$mobileSmall){
    font-size: toRem(20);
  }
  @media (max-width:$mobileSmall){
    font-size: toRem(16);      
  }
  // .rating__body
  &__body {
    position: relative;
    &::before {
      content: "★★★★★";
      display: block;
      color: #c3c3d8;
    }
  }
  // .rating__active
  &__active {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      content: "★★★★★";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #5B88FE;
    }
  }
}


// === LOCATIONS SECTION ===================================================
.locations {
  @extend %paddingSects;
  // .locations__container
  &__container {
  }
  // .locations__title
  &__title {
  }
  // .locations__list
  &__list {
    @extend %cardsGridThree;
  }
  // .locations__item
  &__item {
    display: flex;
    flex-direction: column;
    @extend %cardWrapperBody;
  }
  // .locations__img
  &__img {
    overflow: hidden;
    border-bottom: toRem(2) solid rgb(221, 255, 124,0.7);
    img {
      aspect-ratio: 400/260;
    }
  }
  // .locations__body
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding", 30, 18);
  }
  // .locations__sub-tile
  &__sub-tile {
    font-weight: 700;
    color: $green;
    @include adaptiveValue("font-size", 28, 22);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .locations__about
  &__about {
    flex: 1;
    line-height: 1.1;
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  // .locations__link
  &__link {
  }
}




// ==== QUESTIONS SECTION ===========================================
.questions {
  position: relative;
  @extend %paddingSects;
  @extend %sectionsBgBefore;
  &:before {
    @media (min-width:$mobileSmall){
      width: 200%;
      height: 200%;
      background-image:url(../img/bg/form-bg.png);
    }
    @media (max-width:$mobileSmall){
      height: 220%;
      width: 250%;
      background-image:url(../img/bg/circle-bg.png);
      transform: translate(-50%, -50%) scaleX(-1);
    }
  }
  // .questions__container
  &__container {
  }
  // .questions__title
  &__title {
  }
  // .questions__body
  &__body {
    position: relative;
    display: grid;
    @extend %cardWrapperBody;
    overflow: visible;
    @extend %maxWidthWrapper1024;
    @media (min-width:toEm(900.98)){
      grid-template-columns: 1fr 57%;
    }
  }
  // .questions__img
  &__img {
    @media (min-width:toEm(900.98)){
      position: absolute;
      bottom: 0;
      right: 0;
      grid-column: 1/2;
      width: 100%;
      height: 100%;
    }
    @media (max-width: toEm(900.98)){
      display: none;
    }
    img {
      @media (min-width:toEm(900.98)){
        width: 120%;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      @media (max-width:toEm(900.98)){
        max-width: 100%;
        height: auto;
      }
    }
  }
  // .questions__form
  &__form {
    @include adaptiveValue("padding", 40, 16);
    @media (min-width:toEm(900.98)){
      grid-column: 2/3;
    }
  }
}

.form-qs {
  form {
    display: grid;
    gap: toRem(10);
  }
  // .form-qs__items
  &__items {
    display: grid;
    gap: toRem(10);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 1fr;
    }
  }
  // .form-qs__item
  &__item {
    position: relative;
    &._ios {
      .input-placeholder {
        opacity: 1;
      }
    }
    &._form-focus,
    &._data {
      .input-placeholder {
        opacity: 0;
      }
    }
    .input-placeholder {
      opacity: 0;
      pointer-events: none;
      display: inline-block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0,-50%);
      color: rgba(255, 255, 255, 0.3);
    }
  }
  // .form-qs__input
  &__input {
  }
  // .form-qs__textarea
  &__textarea {
    
  }
  // .form-qs__submit
  &__submit {
    ._sending & {
      opacity: .5;
      pointer-events: none;
    }
  }
}